@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="l-section b-footer-logos l-section--no-padding">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="b-footer-quote__content">
					<!--<img src="assets/logos/footer-icon.png" alt="" />-->
					<!--<img src="assets/logos/footer-icon-2.png" alt="" />-->
					<!--<img src="assets/logos/footer-icon.png" alt="" />-->
					<!--<img src="assets/logos/footer-icon-2.png" alt="" />-->
					<!--<img src="assets/logos/footer-icon.png" alt="" />-->
				
                    @{
                      var mediaUrls = Model.Value<string[]>("myMediaPicker"); // Replace "myMediaPicker" with the alias of your media picker property
                      if (mediaUrls != null && mediaUrls.Length > 0)
                      {
                         // Access the first media item URL in the array
                        var mediaUrl = mediaUrls[0];
                         // Use the media item URL in your template HTML
                        <img src="@mediaUrl" alt="" />
                      }
                     }

				</div>
			</div>
		</div>
	</div>
</section>