.b-contact-form {
	position: relative;

	&__form-wrapper {
		display: none;
		margin-bottom: 40px;

		@include media-breakpoint-up(lg) {
			padding-right: 80px;
			margin-bottom: 0px;
		}

		&.active {
			display: block;
		}
	}

	&__form-title-wrapper {
		.c-heading {
			margin-bottom: 10px;
		}

		.c-text {
			margin-bottom: 30px;
		}
	}

	&__terms-message {
		margin: 10px 0 20px 0;
	}

	.c-button {
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
	}

	.form-group {
		.row {
			> div {
				display: flex;
			}
		}
	}

	.input {
		width: 100%;
	}
}

#quote {
	.form-group {
		.row {
			> div {
				@include media-breakpoint-down(lg) {
					&:nth-of-type(1) {
						order: 1;
					}
					&:nth-of-type(2) {
						order: 2;
					}
					&:nth-of-type(3) {
						order: 3;
					}
					&:nth-of-type(4) {
						order: 7;
					}
					&:nth-of-type(5) {
						order: 4;
					}
					&:nth-of-type(6) {
						order: 5;
					}
					&:nth-of-type(7) {
						order: 6;
					}
					&:nth-of-type(8) {
						order: 8;
					}
					&:nth-of-type(9) {
						order: 9;
					}
				}
			}
		}
	}
}

#enquiry {
	.form-group {
		.row {
			> div {
				@include media-breakpoint-down(lg) {
					&:nth-of-type(1) {
						order: 1;
					}
					&:nth-of-type(2) {
						order: 2;
					}
					&:nth-of-type(3) {
						order: 3;
					}
					&:nth-of-type(4) {
						order: 4;
					}
					&:nth-of-type(5) {
						order: 5;
					}
					&:nth-of-type(6) {
						order: 6;
					}
					&:nth-of-type(7) {
						order: 10;
					}
					&:nth-of-type(8) {
						order: 7;
					}
					&:nth-of-type(9) {
						order: 8;
					}
					&:nth-of-type(10) {
						order: 9;
					}
					&:nth-of-type(11) {
						order: 11;
					}
					&:nth-of-type(12) {
						order: 12;
					}
				}
			}
		}
	}
}