.b-positions {
	&__position {
		display: flex;
		justify-content: space-between;
		background: $white;
		border-radius: $border-radius;
		box-shadow: $shadow;
		padding: 15px;
		margin-bottom: 20px;
		align-items: center;
	}

	&__position-details {

		.c-text,
		.c-heading {
			margin-bottom: 0;
		}	

		.c-text {
			font-size: 13px;
		}
	}

	&__apply {
		
		.c-button {
			line-height: 16px;
		}
	}

	&__apply-text {
		a {
			text-decoration: underline;
		}
	}
}