<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0db9c549-47d7-4cee-b2dd-fd3f13bfc2aa" Alias="aboutUs" Level="1">
  <Info>
    <Name>About Us</Name>
    <Icon>icon-user-females color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the document type used for about us document type</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="0d6e810a-1823-4a5f-9ce2-64dbf07dd6bb">serviceFeatures</Composition>
      <Composition Key="75e7e1b0-46ca-4dad-8676-45f22cf364dc">singleLandscapeCard</Composition>
      <Composition Key="ad5f8fdb-09cb-457d-b8a9-9c9c253907a5">twoLandscapeCards</Composition>
    </Compositions>
    <DefaultTemplate>AboutUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1b0e1f76-4c99-4d13-87ed-bf20c47337c1">AboutUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0db9c549-47d7-4cee-b2dd-fd3f13bfc2aa" SortOrder="0">aboutUs</ContentType>
    <ContentType Key="4a554d01-9bc0-4a16-a312-ab745e877708" SortOrder="1">sustainability</ContentType>
    <ContentType Key="9c450d1b-2585-49d8-90df-7f1717330e40" SortOrder="2">accreditations</ContentType>
    <ContentType Key="eab5a110-4260-4a8d-aaa7-7e054ca0cb7c" SortOrder="3">locationsWeCover</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3bdf975a-6621-4986-9068-eb60bcd24e64</Key>
      <Name>Sub Pages Card CTA</Name>
      <Alias>subPagesCardCTA</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a about sub card call to action editable text]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8365979c-7c12-48cd-a356-c21f97448791</Key>
      <Name>Sub Pages Card First Image</Name>
      <Alias>subPagesCardFirstImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a about sub pages card first image]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a30c16ed-b447-40d0-ba76-6ed15b228ac3</Key>
      <Name>Sub Pages Card First Title</Name>
      <Alias>subPagesCardFirstTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a about sub pages first sub page title]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>236587c8-4d59-448f-9bdf-9e5d5834cc45</Key>
      <Name>Sub Pages Card Second Image</Name>
      <Alias>subPagesCardSecondImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a about sub page second card image]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31349aa9-74a5-4fb4-a600-0edc6be5bb41</Key>
      <Name>Sub Pages Card Second Title</Name>
      <Alias>subPagesCardSecondTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a about sub page second card title]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9f83849-f6ee-448c-945f-4157d0ad5849</Key>
      <Name>Sub Pages Card Third Image</Name>
      <Alias>subPagesCardThirdImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a about sub page third card image]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73df02b1-0530-4932-980b-f008fd3e795f</Key>
      <Name>Sub Pages Card Third Title</Name>
      <Alias>subPagesCardThirdTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a about sub page third page card title]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6eb4d400-4eca-4a1e-9de2-1dc4a65a916e</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>