<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9c450d1b-2585-49d8-90df-7f1717330e40" Alias="accreditations" Level="1">
  <Info>
    <Name>Accreditations</Name>
    <Icon>icon-circle-dotted-active color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>this is a accreditations in jbl aboutus</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Accreditations</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c081a8ac-70bf-42da-bf0b-8d738779ec3a">Accreditations</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>57a4cb47-ce02-4aaf-87c1-629e165a3183</Key>
      <Name>Accreditations Content</Name>
      <Alias>accreditationsContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="accreditationsContent">Accreditations Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc00dc32-b4da-488a-9e2e-1e8943ffae2c</Key>
      <Name>Accreditations Title</Name>
      <Alias>accreditationsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="accreditationsTitle">Accreditations Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>34c8e95c-558a-4d74-87d6-491608b08dc6</Key>
      <Caption>Accreditations Title</Caption>
      <Alias>accreditationsTitle</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>8b8ce7f3-c64a-4f8e-9c9d-a93abfdcddfb</Key>
      <Caption>Accreditations Content</Caption>
      <Alias>accreditationsContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>