<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bf9ebdce-34af-4d2d-b5a0-d73cbbdec7d5" Alias="aobutHomeChild" Level="1">
  <Info>
    <Name>About Home Child</Name>
    <Icon>icon-user-females color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is a empty document type</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0db9c549-47d7-4cee-b2dd-fd3f13bfc2aa" SortOrder="0">aboutUs</ContentType>
    <ContentType Key="4a554d01-9bc0-4a16-a312-ab745e877708" SortOrder="1">sustainability</ContentType>
    <ContentType Key="9c450d1b-2585-49d8-90df-7f1717330e40" SortOrder="2">accreditations</ContentType>
    <ContentType Key="eab5a110-4260-4a8d-aaa7-7e054ca0cb7c" SortOrder="3">locationsWeCover</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>