<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f86f5e77-7581-4ee6-94a3-1f64a0eea7c3" Alias="caseStudys" Level="1">
  <Info>
    <Name>Case Studies</Name>
    <Icon>icon-briefcase color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the document type for the case studies</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="75e7e1b0-46ca-4dad-8676-45f22cf364dc">singleLandscapeCard</Composition>
    </Compositions>
    <DefaultTemplate>CaseStudys</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cc3472f9-6141-42a8-9650-e2e63a1eba12">CaseStudys</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7e3006df-1ad9-443c-bd65-025070dfdf3c</Key>
      <Name>Case Studies Content</Name>
      <Alias>caseStudyContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the content used in cards for the case studies]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caseStudyContent">Case Study Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>73f3697e-238e-42c8-badf-5cfd018e6307</Key>
      <Name>Case Studies Title</Name>
      <Alias>caseStudyTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This should be the the title for the case studies]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="caseStudyTitle">Case Study Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ce78548a-ca42-4aa5-812d-1b9dc0333c00</Key>
      <Caption>Case Study Content</Caption>
      <Alias>caseStudyContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>f6e30889-aa90-4da9-bc7a-a661ae8c8d1e</Key>
      <Caption>Case Study Title</Caption>
      <Alias>caseStudyTitle</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>