<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f86f5e77-7581-4ee6-94a3-1f64a0eea7c3" Alias="caseStudys" Level="1">
  <Info>
    <Name>Case Studies Cards</Name>
    <Icon>icon-briefcase color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the document type for the case studies</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="75e7e1b0-46ca-4dad-8676-45f22cf364dc">singleLandscapeCard</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>