<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39066e7a-2c71-4612-83f7-c4fe00c98d0c" Alias="governmentMOD" Level="1">
  <Info>
    <Name>Government &amp; MOD</Name>
    <Icon>icon-categories color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>GovernmentMOD</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="27a75fb9-e541-4fda-be31-277226ad6a96">GovernmentMOD</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>abf8da39-a583-4aa0-8b56-ae564d024e44</Key>
      <Name>Government Content</Name>
      <Alias>governmentContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="governmentContent">Government Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d60ec8d0-66b2-4ef3-9cea-f6e329fdbae2</Key>
      <Name>Government Title</Name>
      <Alias>governmentTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="governmentTitle">Government Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2a40ccaf-b1db-4078-b8a0-e5299d7ba6c8</Key>
      <Caption>Government Title</Caption>
      <Alias>governmentTitle</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>83c19ab1-cbb4-424e-a040-5b999d85894d</Key>
      <Caption>Government Content</Caption>
      <Alias>governmentContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>