<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da843e1e-4945-4d70-9bca-69d6310c1e6e" Alias="jbl_HomePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>"This is the Home page of the CMS application."</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Jbl_HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d5229720-f923-476e-ab41-41aaf255f1c7">Jbl_HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0db9c549-47d7-4cee-b2dd-fd3f13bfc2aa" SortOrder="0">aboutUs</ContentType>
    <ContentType Key="ac9871e3-feb9-43c9-ab88-75a71d98e0c8" SortOrder="1">sectors</ContentType>
    <ContentType Key="562c2ad3-67dd-40ff-b7ae-83d4e4938b19" SortOrder="2">jbl_Servises</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>00085b86-3375-42fb-b93c-ef8797351f35</Key>
      <Name>Contact Address</Name>
      <Alias>contactAddress</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the contact address in the second column of contact section footer]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footerMain">Footer Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bcd34b00-137b-416d-8e2a-49d5bbd4994f</Key>
      <Name>Contact Email</Name>
      <Alias>contactEmail</Alias>
      <Definition>52fb8713-ee72-4903-adfd-02d0d6e33bae</Definition>
      <Type>Umbraco.EmailAddress</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the contact email in the second column of contact section]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footerMain">Footer Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>51a7a049-2028-4e05-aa24-de7dace0515f</Key>
      <Name>Contact Number</Name>
      <Alias>contactNo</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the contact number in the second column of contact section]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footerMain">Footer Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>877593bc-0f69-4855-98a4-9e81faadee69</Key>
      <Name>Contact Title</Name>
      <Alias>contactTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the contact title in secound column of contact section in footer]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerMain">Footer Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08340301-cbdb-4019-8fd1-81f1f4063949</Key>
      <Name>Copy Right</Name>
      <Alias>copyRight</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the copyright section in 1st column with updated year]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="copyRightSection1">Copy Right Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7b5b87a1-28aa-486b-8f13-df49fb72d8e4</Key>
      <Name>CTA Button Link</Name>
      <Alias>cTAButtonLink</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the CTA button link to navigate on Get quote page]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="footerMain">Footer Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b8b4ddb7-5103-4c92-b517-c79458c59893</Key>
      <Name>Currently 3 open roles</Name>
      <Alias>currently3OpenRoles</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is dynamic content for the openings]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="footerSectionLookingForChallenge1">Footer section Looking for challenge?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea06f1bb-039d-4cf9-81be-434bc4232a9a</Key>
      <Name>Footer 5 Logos</Name>
      <Alias>footer5Logos</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerLogosRow">FooterLogosRow</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>503b8ee6-5de0-40d0-86bc-aa047cbe6872</Key>
      <Name>body</Name>
      <Alias>FooterBody12</Alias>
      <Definition>9690b7d6-a9a9-4d1b-a275-3d28bd6d48b6</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="copyRightSection1">Copy Right Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a92088e9-0d7b-40dd-82ab-6ac468d40702</Key>
      <Name>About Company Details Description</Name>
      <Alias>homeAboutCompanyDetailsDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a description for the company details]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="aboutCompany">About Company</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cceefa15-5985-4dc1-b2c6-7dad9bd481fb</Key>
      <Name>About Company Details Title</Name>
      <Alias>homeAboutCompanyDetailsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a title about company details]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="aboutCompany">About Company</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0c1f507-c7a0-4af3-b400-e082771399c9</Key>
      <Name>Home Hero CTA</Name>
      <Alias>homeHeroCTA</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Home hero call to action button editable text]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="mastheadHero1">Masthead/Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f7d46a82-3879-4187-bc0f-534bebf9aa31</Key>
      <Name>Home Hero Description</Name>
      <Alias>homeHeroDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Home hero description about the background image]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca198f77-3989-48cf-95f9-58a78d2f84a4</Key>
      <Name>Home Hero Image</Name>
      <Alias>homeHeroImage</Alias>
      <Definition>1df9f033-e6d4-451f-b8d2-e0cbc50a836f</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a background image for the hero]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9ebf0530-fbb7-4c41-90b6-75f69f1752f7</Key>
      <Name>Home Hero title</Name>
      <Alias>homeHeroTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Home hero title about the background image]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3dc6cc5f-d865-49ec-98ec-ab7aae33802e</Key>
      <Name>Our Services  Card CTA</Name>
      <Alias>homeOurServicesCardCTA</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services card call to action button editable text]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="ourServicesJblBadage1">Our Services (Jbl Badage)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>09bc2ea6-379f-4fdc-9f91-022d3f466f58</Key>
      <Name>Our Services Card Group Title</Name>
      <Alias>homeOurServicesCardGroupTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services group title for the home]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ourServicesJblBadage1">Our Services (Jbl Badage)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7300b408-fdc6-4341-ab36-e8803cc6ebec</Key>
      <Name>Our Services First Card Image</Name>
      <Alias>homeOurServicesFirstCardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a home our services first card image]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="ourServicesJblBadage1">Our Services (Jbl Badage)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>58cc0c81-c430-445b-873a-88eab74a5539</Key>
      <Name>Our Services First Card Title</Name>
      <Alias>homeOurServicesFirstCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a home our services first card title]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="ourServicesJblBadage1">Our Services (Jbl Badage)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6b97e724-6547-4a62-bdcb-8a63c6fcfdaf</Key>
      <Name>Our Services Fourth Card Image</Name>
      <Alias>homeOurServicesFourthCardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a home our services fourth card image]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="ourServicesJblBadage1">Our Services (Jbl Badage)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c321527c-bc2d-44bf-bb9a-497599166aa8</Key>
      <Name>Our Services Fourth Card Title</Name>
      <Alias>homeOurServicesFourthCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a home our services fourth card title]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="ourServicesJblBadage1">Our Services (Jbl Badage)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a3d3df00-9f69-4dad-b1fd-3d271cbd5485</Key>
      <Name>Our Services Second Card Image</Name>
      <Alias>homeOurServicesSecondCardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a home our services second card image]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="ourServicesJblBadage1">Our Services (Jbl Badage)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d0c6f7ee-5cfa-45b7-ae28-6e599720f79d</Key>
      <Name>Our Services Second Card Title</Name>
      <Alias>homeOurServicesSecondCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a home our services second card title]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="ourServicesJblBadage1">Our Services (Jbl Badage)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9df9b1c-75b5-4e99-9051-3e9ba903cfe3</Key>
      <Name>Our Services Third Card Image</Name>
      <Alias>homeOurServicesThirdCardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a home our services third card image]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="ourServicesJblBadage1">Our Services (Jbl Badage)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c3084c1-c8b6-4560-87f5-6a0051652cc3</Key>
      <Name>Our Services Third Card Title</Name>
      <Alias>homeOurServicesThirdCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a home our services third card title]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="ourServicesJblBadage1">Our Services (Jbl Badage)</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bf15dcb2-62ed-46a2-8375-a80aa1af597c</Key>
      <Name>Our mission together</Name>
      <Alias>ourMissionTogether</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the title for the section in the second column's background image]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footerSectionLookingForChallenge1">Footer section Looking for challenge?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fe9574c7-feaa-4158-abf9-62352ddc89f9</Key>
      <Name>Our mission together Description</Name>
      <Alias>ourMissionTogetherDiscription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the description for the section in the second column's background image]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footerSectionLookingForChallenge1">Footer section Looking for challenge?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f325b54-8341-4827-8a83-266423cc6877</Key>
      <Name>PageCotent</Name>
      <Alias>pageCotent</Alias>
      <Definition>325fc4ff-9bdc-4131-8e85-9c6b5aa706ba</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="body">Body</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5b7760c4-c69f-4985-86eb-53c2f8d099df</Key>
      <Name>Sub Navbar Contact No</Name>
      <Alias>subNavbarContactNo</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Secondary navbar Call us contact number]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="subNavbar">Sub Navbar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>238c366d-c78c-429f-bd4f-4c3f671d7969</Key>
      <Name>Sub Navbar Call us</Name>
      <Alias>subNavbarContactUs</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Secondary navbar call us title with text]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="subNavbar">Sub Navbar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cef7586c-f4a2-4215-9c92-a72f446baa49</Key>
      <Name>Sub Navbar CTA</Name>
      <Alias>subNavbarCTA</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Secondary navbar call to action title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="subNavbar">Sub Navbar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3e2eb59-0688-4ee3-9a77-b54eb144d951</Key>
      <Name>Sub Navbar Title</Name>
      <Alias>SubNavbarTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Secondary navbar title which shows the text before CTA for join us]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="subNavbar">Sub Navbar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fa25a2a7-c47b-443f-9b4c-b3d2886ecb33</Key>
      <Name>WebSite Title</Name>
      <Alias>webSiteTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the website in the third column of contact section]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="footerMain">Footer Main</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2c43597d-12e9-44b1-96b8-c8e4d8c3b6e1</Key>
      <Name>Working for JBL</Name>
      <Alias>workingForJBL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the title for the section of 1st column's  background image]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footerSectionLookingForChallenge1">Footer section Looking for challenge?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3a5f5c1a-a008-4f50-a88f-cc361d68fe25</Key>
      <Name>Working for JBL Description</Name>
      <Alias>workingForJBLDiscription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the Description for the section of 1st column's of  background image]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footerSectionLookingForChallenge1">Footer section Looking for challenge?</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0d8ceabf-4545-4fba-9a17-d3e6d1ca15e3</Key>
      <Caption>Footer section Looking for challenge?</Caption>
      <Alias>footerSectionLookingForChallenge1</Alias>
      <Type>Group</Type>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Key>552a3054-2195-4daf-99eb-026fc5644c7d</Key>
      <Caption>About Company</Caption>
      <Alias>aboutCompany</Alias>
      <Type>Group</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>9f1cd975-a1ba-4052-a0ff-a5b8cac14631</Key>
      <Caption>Sub Navbar</Caption>
      <Alias>subNavbar</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>be929a00-98f4-4e6b-aa0e-d742a6fdc6f3</Key>
      <Caption>Copy Right Section</Caption>
      <Alias>copyRightSection1</Alias>
      <Type>Group</Type>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Key>c0d5d27a-a3f1-4e41-a2a9-00953a298991</Key>
      <Caption>Masthead/Hero</Caption>
      <Alias>mastheadHero1</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d656cd7e-99d5-4732-acc4-0ece8fc88f04</Key>
      <Caption>Body</Caption>
      <Alias>body</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>e3a17c37-aa46-4338-a5ff-97a522479a8b</Key>
      <Caption>Our Services (Jbl Badage)</Caption>
      <Alias>ourServicesJblBadage1</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>e43bfce1-5fec-415c-a08b-6a78830e5221</Key>
      <Caption>FooterLogosRow</Caption>
      <Alias>footerLogosRow</Alias>
      <Type>Group</Type>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Key>e4e38d1e-cfc6-4144-bd7b-11950e0f7727</Key>
      <Caption>Footer Main</Caption>
      <Alias>footerMain</Alias>
      <Type>Group</Type>
      <SortOrder>7</SortOrder>
    </Tab>
  </Tabs>
</ContentType>