<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="562c2ad3-67dd-40ff-b7ae-83d4e4938b19" Alias="jbl_Servises" Level="1">
  <Info>
    <Name>Servises</Name>
    <Icon>icon-umb-settings color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Overview of the services in jbl</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Jbl_Servises</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b3ffc57a-c562-4eb6-88fb-cac8374814c2">Jbl_Servises</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="562c2ad3-67dd-40ff-b7ae-83d4e4938b19" SortOrder="0">jbl_Servises</ContentType>
    <ContentType Key="3ee7f50e-1cb7-4610-ae4a-26539a8972e6" SortOrder="1">commercialLandscaping</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a1b0481c-a24c-451d-9ef4-802afe1115a5</Key>
      <Name>SectionTitle</Name>
      <Alias>sectionTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>175b39af-171e-4d80-baf4-4f27d5bf5ad8</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>