<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0d11694f-d7c4-435b-84dc-8415bffea0af" Alias="joinUs" Level="1">
  <Info>
    <Name>Join Us</Name>
    <Icon>icon-connection color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>JoinUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="784860c9-c123-4eaf-8845-b9133a6ea9a4">JoinUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>da5ed4d1-2837-459e-a140-bbcaf8268e1b</Key>
      <Name>Join Us Title</Name>
      <Alias>joinUsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="joinUsTitle">Join Us Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>133878ac-8a65-402a-95ce-2ffc53151ff3</Key>
      <Caption>Join Us Title</Caption>
      <Alias>joinUsTitle</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>