<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eab5a110-4260-4a8d-aaa7-7e054ca0cb7c" Alias="locationsWeCover" Level="1">
  <Info>
    <Name>Locations We Cover</Name>
    <Icon>icon-location-nearby color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>we are located on the jbl</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>LocationsWeCover</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8f5ba024-0965-475e-ad83-c097b974e4e7">LocationsWeCover</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>47e1ff44-4e38-4554-9fe3-08c650a93f09</Key>
      <Name>Locations Content</Name>
      <Alias>locationsContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="locationsContent">Locations Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>794cf3e3-b28f-483d-ad96-4f4224eeb859</Key>
      <Name>Locations Title</Name>
      <Alias>locationsTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="locationsTitle">Locations Title</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>61ea1ab8-1478-4bda-aa21-ac6879991d13</Key>
      <Caption>Locations Title</Caption>
      <Alias>locationsTitle</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>81fcd720-3ec9-439c-9ecb-9ca308584637</Key>
      <Caption>Locations Content</Caption>
      <Alias>locationsContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>