<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39202a16-1019-4cd9-8559-0b6856126a4a" Alias="ourServicesCommonPartialView" Level="2">
  <Info>
    <Name>Our Services Common Partial View</Name>
    <Icon>icon-item-arrangement color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is a common our services cards</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Common+Document+Type</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f1e80249-e4c3-4b98-801c-566826286cc2">OurServicesCommonPartialView</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>06c239f1-7841-4f34-916f-e70cf81a7735</Key>
      <Name>Our Services Card CTA</Name>
      <Alias>ourServicesCardCTA</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services first card call to action button editable text]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="ourServices/ourServicesCards">Our Services Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>349456f9-b964-41f6-9cc3-bff7ced386df</Key>
      <Name>Our Services Card Group Title</Name>
      <Alias>ourServicesCardGroupTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services card group title this section]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ourServices/ourServicesCards">Our Services Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>551f8424-5c84-443b-ba4e-797479a059bb</Key>
      <Name>Our Services First Card Image</Name>
      <Alias>ourServicesFirstCardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services first card image]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="ourServices/ourServicesCards">Our Services Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>14798c7a-4702-4780-bcfd-83528ca3c929</Key>
      <Name>Our Services First Card Title</Name>
      <Alias>ourServicesFirstCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services first card title]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="ourServices/ourServicesCards">Our Services Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>14fcc9fd-b0a9-422a-8a69-c3dcd203eaa8</Key>
      <Name>Our Services Fourth Card Image</Name>
      <Alias>ourServicesFourthCardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services  fourth card image]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="ourServices/ourServicesCards">Our Services Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>230a6ebf-4b6a-459e-a35c-fddab7f93fab</Key>
      <Name>Our Services Fourth Card Title</Name>
      <Alias>ourServicesFourthCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services fourth card title]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="ourServices/ourServicesCards">Our Services Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d006b34d-215f-415a-a5e2-47c72dadc9e5</Key>
      <Name>Our Services Second Card Image</Name>
      <Alias>ourServicesSecondCardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services second card image]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="ourServices/ourServicesCards">Our Services Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08b5ceed-405e-4504-88cf-fb46db4a4b78</Key>
      <Name>Our Services Second Card title</Name>
      <Alias>ourServicesSecondCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services second card title]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="ourServices/ourServicesCards">Our Services Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f186db4-f49b-489c-8f57-2584293a37f4</Key>
      <Name>Our Services Third Card Image</Name>
      <Alias>ourServicesThirdCardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services third card image]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="ourServices/ourServicesCards">Our Services Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f71dcbd-9c73-4b2e-be54-136d6cb6192b</Key>
      <Name>Our Services Third Card Title</Name>
      <Alias>ourServicesThirdCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a our services third card title]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="ourServices/ourServicesCards">Our Services Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bc8b0db6-8d06-4b25-94ed-94d59d72a815</Key>
      <Caption>Our Services</Caption>
      <Alias>ourServices</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e6064762-b888-4dcd-832c-2b8fc76c409e</Key>
      <Caption>Our Services Cards</Caption>
      <Alias>ourServices/ourServicesCards</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>