<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ff22f625-bd56-452e-bf0e-278c6997ca19" Alias="productsList" Level="1">
  <Info>
    <Name>Products List</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>see the all product list hear</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="aabec34f-b50b-4169-b04d-e0751e902572" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c59dbb2a-a420-4b96-affb-437f7df63202</Key>
      <Name>Product List</Name>
      <Alias>productList</Alias>
      <Definition>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</Definition>
      <Type>Umbraco.ListView</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="productList">Product List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f80e34d9-4e13-474d-8975-f942855738eb</Key>
      <Caption>Product List</Caption>
      <Alias>productList</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>