<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="74e8d33d-c84f-4553-866f-e73f7454707f" Alias="sectorsHomeChild" Level="1">
  <Info>
    <Name>Sectors Home Child</Name>
    <Icon>icon-security-camera color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is a empty document type</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="ac9871e3-feb9-43c9-ab88-75a71d98e0c8" SortOrder="0">sectors</ContentType>
    <ContentType Key="39066e7a-2c71-4612-83f7-c4fe00c98d0c" SortOrder="1">governmentMOD</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>