<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e6db5eb5-8b4a-4e21-a74b-43ff91054790" Alias="serviceFeatureList" Level="2">
  <Info>
    <Name>Service Feature List</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is a list of service features.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Common+Document+Type</Folder>
    <Compositions />
    <DefaultTemplate>ServiceFeatureList</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d6f11099-dc76-4c6b-91fa-778efec27a3a">ServiceFeatureList</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1dc8ee59-ece9-4013-b75d-0db43bdcefda" SortOrder="0">serviceFeature</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>