<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad5f8fdb-09cb-457d-b8a9-9c9c253907a5" Alias="twoLandscapeCards" Level="2">
  <Info>
    <Name>Two Landscape Cards</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is a group of two landscape cards, each contain one image, one title and one description.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Common+Document+Type</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>74a86533-9fdd-42a9-8e5e-eaf5ef863ff9</Key>
      <Name>First Card Description</Name>
      <Alias>ourFirstCardDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the description for first card.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="ourInfoTwoCards">Our Info Two Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ed88969e-9e09-4ad7-a8b1-eab1eb8d468e</Key>
      <Name>First Card Image</Name>
      <Alias>ourFirstCardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the image for first card.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="ourInfoTwoCards">Our Info Two Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c73f8931-f654-46b0-b580-207364901bf1</Key>
      <Name>First Card Title</Name>
      <Alias>ourFirstCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the title for first card.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="ourInfoTwoCards">Our Info Two Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6fe06bc-ef13-4b3f-b9b2-7090398c116b</Key>
      <Name>Second Card Description</Name>
      <Alias>ourSecondCardDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the description text for second card.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="ourInfoTwoCards">Our Info Two Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>007f4eb9-dedb-45de-9c03-8ca83d9837ca</Key>
      <Name>Second Card Image</Name>
      <Alias>ourSecondCardImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the image for second card.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="ourInfoTwoCards">Our Info Two Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>79ef0da7-ee09-40bd-87a9-55360c870857</Key>
      <Name>Second Card Title</Name>
      <Alias>ourSecondCardTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is title text for second card.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="ourInfoTwoCards">Our Info Two Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>18cf16bc-10c9-46e9-aa9c-7279b464e91a</Key>
      <Caption>Our Info Two Cards</Caption>
      <Alias>ourInfoTwoCards</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>