<?xml version="1.0" encoding="utf-8"?>
<User Key="00000002-0000-0000-0000-000000000000" Alias="ganesh.vhanmane@etevatech.com">
  <Info>
    <Comments />
    <Name>Ganesh Vhanmane</Name>
    <Username>ganesh.vhanmane@etevatech.com</Username>
    <Email>ganesh.vhanmane@etevatech.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEAOVY2enuVDx/QQxNx6O7ROvqNZnb279skfrRie82FTIqk0m3P9Gd54myEiW2okj8w==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>