<?xml version="1.0" encoding="utf-8"?>
<User Key="00000002-0000-0000-0000-000000000000" Alias="rushikesh.waghmare@etevatech.com">
  <Info>
    <Comments />
    <Name>Rushikesh Waghmare</Name>
    <Username>rushikesh.waghmare@etevatech.com</Username>
    <Email>rushikesh.waghmare@etevatech.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEMFGVM/IVMTC2KxStIWH9HGI5nUOeiLkkNVU8aZB8r6f5pY6kb+jK8gcGMZQ3YMODg==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>writer</Alias>
    </Group>
    <Group>
      <Alias>editor</Alias>
    </Group>
    <Group>
      <Alias>translator</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
    <Group>
      <Alias>uSyncBrowser</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>