<?xml version="1.0" encoding="utf-8"?>
<User Key="00000003-0000-0000-0000-000000000000" Alias="varun.deshmukh@etevaconsulting.com">
  <Info>
    <Comments />
    <Name>Varun Deshmukh</Name>
    <Username>varun.deshmukh@etevaconsulting.com</Username>
    <Email>varun.deshmukh@etevaconsulting.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEAJu/aqrCp/s+F/OXsOqTCdYYPqTYICsgXgSizu35tPJemBArf7KwqLQ9+7yBjkMgQ==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>