<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3ba9841-2670-4918-bc7b-16bf23bfd9dc" Alias="assets" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/assets</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-05T14:43:55</CreateDate>
    <NodeName Default="assets" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>