<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ed8e56d-5cf6-4298-97ea-d5c25129593d" Alias="assets" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/assets</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-20T14:48:35</CreateDate>
    <NodeName Default="assets" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>