<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed156204-2844-42fb-bdd3-56337f0d3db4" Alias="backgrounds" Level="2">
  <Info>
    <Parent Key="0d70a899-dfc9-44cb-bca0-ad9ff636d944">assets</Parent>
    <Path>/assets/backgrounds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-02T16:57:08</CreateDate>
    <NodeName Default="backgrounds" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>