<?xml version="1.0" encoding="utf-8"?>
<Media Key="678b1d82-555c-4f75-bc5b-8fdddbbac2e6" Alias="Banner Shape Test" Level="103">
  <Info>
    <Parent Key="dd4fb80f-c062-4c3b-8b2e-346094f0c14d">images</Parent>
    <Path>/[-21]/assets/images/BannerShapeTest</Path>
    <Trashed Parent="dd4fb80f-c062-4c3b-8b2e-346094f0c14d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:38</CreateDate>
    <NodeName Default="Banner Shape Test" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qqojwz02/banner-shape-test.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>