<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c83ba96-f310-42ad-8a6b-e4e8a3b1f6cc" Alias="Banner Shape Test" Level="3">
  <Info>
    <Parent Key="df73d899-c90b-4531-b4e2-8f76c18e6a49">images</Parent>
    <Path>/assets/images/BannerShapeTest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:57</CreateDate>
    <NodeName Default="Banner Shape Test" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sc3ig1aq/banner-shape-test.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>