<?xml version="1.0" encoding="utf-8"?>
<Media Key="427d5011-6526-4f46-98d0-094f52691232" Alias="Close" Level="103">
  <Info>
    <Parent Key="dd02cc0d-f327-4ecf-ab04-2e3a7487fee2">lightbox</Parent>
    <Path>/[-21]/assets/lightbox/Close</Path>
    <Trashed Parent="dd02cc0d-f327-4ecf-ab04-2e3a7487fee2">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:41</CreateDate>
    <NodeName Default="Close" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c3ih0qrg/close.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>