<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7a872aa-af54-485e-9dda-5d8c4584bedf" Alias="Close" Level="3">
  <Info>
    <Parent Key="ad33408c-fb57-4456-91a5-8e941d624150">lightbox</Parent>
    <Path>/assets/lightbox/Close</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:58</CreateDate>
    <NodeName Default="Close" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vrzkrr0u/close.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>