<?xml version="1.0" encoding="utf-8"?>
<Media Key="af3d48d8-f482-4d46-a6b4-5f925680a6b6" Alias="Close" Level="3">
  <Info>
    <Parent Key="2074ee63-2da5-495c-8673-d11d32ec90f6">lightbox</Parent>
    <Path>/assets/lightbox/Close</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:16</CreateDate>
    <NodeName Default="Close" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1zed1l2c/close.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>