<?xml version="1.0" encoding="utf-8"?>
<Media Key="86a6953e-120f-440d-a829-4b595e049be4" Alias="Credentials Badge" Level="103">
  <Info>
    <Parent Key="1162e1e1-89a7-4bef-a716-4db77ae859e9">icons</Parent>
    <Path>/[-21]/assets/icons/CredentialsBadge</Path>
    <Trashed Parent="1162e1e1-89a7-4bef-a716-4db77ae859e9">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:37</CreateDate>
    <NodeName Default="Credentials Badge" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hcklnbqp/credentials-badge.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>