<?xml version="1.0" encoding="utf-8"?>
<Media Key="a55d1227-dc02-43c2-928e-cf419a320f68" Alias="Credentials Badge" Level="3">
  <Info>
    <Parent Key="ab5f3fc1-59f2-421f-948b-842057199baa">icons</Parent>
    <Path>/assets/icons/CredentialsBadge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:10</CreateDate>
    <NodeName Default="Credentials Badge" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eejf1jic/credentials-badge.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>