<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ae5923b-c2a2-41b6-8001-55ca8bc8b344" Alias="Credentials Badge" Level="3">
  <Info>
    <Parent Key="709485bd-73c8-439d-a234-935a5390b65a">icons</Parent>
    <Path>/assets/icons/CredentialsBadge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:57</CreateDate>
    <NodeName Default="Credentials Badge" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hwjokgvc/credentials-badge.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>