<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c4ee1bf-e5d7-4211-b4b2-13797d9159d2" Alias="Footer Icon 2" Level="3">
  <Info>
    <Parent Key="21674cb0-d1b0-4303-8f3f-86cf5bc6c52b">logos</Parent>
    <Path>/assets/logos/FooterIcon2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:59</CreateDate>
    <NodeName Default="Footer Icon 2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xhqf2tgx/footer-icon-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>