<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebf10e5d-ee33-4299-8c6f-1fd6afd3e931" Alias="Footer Icon 2" Level="3">
  <Info>
    <Parent Key="96762fcf-5a67-4a74-8f90-44b0778220d9">logos</Parent>
    <Path>/assets/logos/FooterIcon2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:17</CreateDate>
    <NodeName Default="Footer Icon 2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lmhpd0zt/footer-icon-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>