<?xml version="1.0" encoding="utf-8"?>
<Media Key="3066137e-59a4-496f-ada9-d662fce947be" Alias="Footer Banner Background" Level="3">
  <Info>
    <Parent Key="dd4fb80f-c062-4c3b-8b2e-346094f0c14d">images</Parent>
    <Path>/assets/images/FooterBannerBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:38</CreateDate>
    <NodeName Default="Footer Banner Background" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pajhmmfe/footer-banner-background.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>