<?xml version="1.0" encoding="utf-8"?>
<Media Key="168f6314-2a0c-4b16-b2f5-bf48a13a6999" Alias="Footer Icon" Level="3">
  <Info>
    <Parent Key="21674cb0-d1b0-4303-8f3f-86cf5bc6c52b">logos</Parent>
    <Path>/assets/logos/FooterIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:59</CreateDate>
    <NodeName Default="Footer Icon" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cjrj4fqm/footer-icon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>