<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b8bb681-96e6-486b-9df1-521429139ed9" Alias="Footer Banner Background" Level="3">
  <Info>
    <Parent Key="df73d899-c90b-4531-b4e2-8f76c18e6a49">images</Parent>
    <Path>/assets/images/FooterBannerBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:57</CreateDate>
    <NodeName Default="Footer Banner Background" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q41iws5g/footer-banner-background.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>