<?xml version="1.0" encoding="utf-8"?>
<Media Key="6db8f6c6-60be-489a-b8af-dffa1c10a79a" Alias="Form Background" Level="3">
  <Info>
    <Parent Key="88332000-6be0-404a-926b-2ec055bbc703">backgrounds</Parent>
    <Path>/assets/backgrounds/FormBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:56</CreateDate>
    <NodeName Default="Form Background" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yd1lq1n4/form-background.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>