<?xml version="1.0" encoding="utf-8"?>
<Media Key="55356994-e99b-4197-9308-a9fb526927c7" Alias="Form Background" Level="103">
  <Info>
    <Parent Key="19188ba6-e60a-4b59-955d-5c39ca03bccb">backgrounds</Parent>
    <Path>/[-21]/assets/backgrounds/FormBackground</Path>
    <Trashed Parent="19188ba6-e60a-4b59-955d-5c39ca03bccb">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:36</CreateDate>
    <NodeName Default="Form Background" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sjudkvm1/form-background.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>