<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f2f9c01-4ef6-4bd0-bcce-75d963c56a37" Alias="Full Icon Text Block Image" Level="3">
  <Info>
    <Parent Key="699d6563-eeb8-4f22-aeb5-3c9917a08bd7">images</Parent>
    <Path>/assets/images/FullIconTextBlockImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:11</CreateDate>
    <NodeName Default="Full Icon Text Block Image" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a4oc5h5w/full-icon-text-block-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>