<?xml version="1.0" encoding="utf-8"?>
<Media Key="00ce3314-191c-445b-961d-e6adf130a0e3" Alias="Green Background" Level="3">
  <Info>
    <Parent Key="88332000-6be0-404a-926b-2ec055bbc703">backgrounds</Parent>
    <Path>/assets/backgrounds/GreenBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:56</CreateDate>
    <NodeName Default="Green Background" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cizn2aa2/green-background.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>