<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f600b97-de8f-440a-96ba-01ceb7045320" Alias="Green Background" Level="3">
  <Info>
    <Parent Key="ed156204-2844-42fb-bdd3-56337f0d3db4">backgrounds</Parent>
    <Path>/assets/backgrounds/GreenBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:09</CreateDate>
    <NodeName Default="Green Background" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sefhap2p/green-background.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>