<?xml version="1.0" encoding="utf-8"?>
<Media Key="91134817-bfea-4e05-82b9-48a2d29f61d4" Alias="Green Background Large" Level="3">
  <Info>
    <Parent Key="ed156204-2844-42fb-bdd3-56337f0d3db4">backgrounds</Parent>
    <Path>/assets/backgrounds/GreenBackgroundLarge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:09</CreateDate>
    <NodeName Default="Green Background Large" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cfebhepk/green-background-large.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>