<?xml version="1.0" encoding="utf-8"?>
<Media Key="89cab513-7b0a-40f3-8a3c-062c3ed4ea34" Alias="Hero Overlay" Level="3">
  <Info>
    <Parent Key="df73d899-c90b-4531-b4e2-8f76c18e6a49">images</Parent>
    <Path>/assets/images/HeroOverlay</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:57</CreateDate>
    <NodeName Default="Hero Overlay" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cw0nvcik/hero-overlay.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>