<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab5f3fc1-59f2-421f-948b-842057199baa" Alias="icons" Level="2">
  <Info>
    <Parent Key="0d70a899-dfc9-44cb-bca0-ad9ff636d944">assets</Parent>
    <Path>/assets/icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-02T16:57:10</CreateDate>
    <NodeName Default="icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>