<?xml version="1.0" encoding="utf-8"?>
<Media Key="709485bd-73c8-439d-a234-935a5390b65a" Alias="icons" Level="2">
  <Info>
    <Parent Key="c3ba9841-2670-4918-bc7b-16bf23bfd9dc">assets</Parent>
    <Path>/assets/icons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-05T14:43:57</CreateDate>
    <NodeName Default="icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>