<?xml version="1.0" encoding="utf-8"?>
<Media Key="1162e1e1-89a7-4bef-a716-4db77ae859e9" Alias="icons" Level="102">
  <Info>
    <Parent Key="3ed8e56d-5cf6-4298-97ea-d5c25129593d">assets</Parent>
    <Path>/[-21]/assets/icons</Path>
    <Trashed Parent="3ed8e56d-5cf6-4298-97ea-d5c25129593d">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-20T14:48:37</CreateDate>
    <NodeName Default="icons" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>