<?xml version="1.0" encoding="utf-8"?>
<Media Key="787eceb2-b2f2-46b0-acb9-dce35f9140af" Alias="Image Text Placeholder" Level="3">
  <Info>
    <Parent Key="df73d899-c90b-4531-b4e2-8f76c18e6a49">images</Parent>
    <Path>/assets/images/ImageTextPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:57</CreateDate>
    <NodeName Default="Image Text Placeholder" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wthh24hs/image-text-placeholder.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>