<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab04fc13-da79-405e-bc28-acd857961813" Alias="Image Text Placeholder" Level="3">
  <Info>
    <Parent Key="699d6563-eeb8-4f22-aeb5-3c9917a08bd7">images</Parent>
    <Path>/assets/images/ImageTextPlaceholder</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:12</CreateDate>
    <NodeName Default="Image Text Placeholder" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cx4ajk1z/image-text-placeholder.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>