<?xml version="1.0" encoding="utf-8"?>
<Media Key="df73d899-c90b-4531-b4e2-8f76c18e6a49" Alias="images" Level="2">
  <Info>
    <Parent Key="c3ba9841-2670-4918-bc7b-16bf23bfd9dc">assets</Parent>
    <Path>/assets/images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-05T14:43:57</CreateDate>
    <NodeName Default="images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>