<?xml version="1.0" encoding="utf-8"?>
<Media Key="01967739-f562-4c80-8669-9ec6d47da1ed" Alias="Image Text Placeholder" Level="103">
  <Info>
    <Parent Key="dd4fb80f-c062-4c3b-8b2e-346094f0c14d">images</Parent>
    <Path>/[-21]/assets/images/ImageTextPlaceholder</Path>
    <Trashed Parent="dd4fb80f-c062-4c3b-8b2e-346094f0c14d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:39</CreateDate>
    <NodeName Default="Image Text Placeholder" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h31jmalc/image-text-placeholder.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>