<?xml version="1.0" encoding="utf-8"?>
<Media Key="699d6563-eeb8-4f22-aeb5-3c9917a08bd7" Alias="images" Level="2">
  <Info>
    <Parent Key="0d70a899-dfc9-44cb-bca0-ad9ff636d944">assets</Parent>
    <Path>/assets/images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-02T16:57:11</CreateDate>
    <NodeName Default="images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>