<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd4fb80f-c062-4c3b-8b2e-346094f0c14d" Alias="images" Level="102">
  <Info>
    <Parent Key="3ed8e56d-5cf6-4298-97ea-d5c25129593d">assets</Parent>
    <Path>/[-21]/assets/images</Path>
    <Trashed Parent="3ed8e56d-5cf6-4298-97ea-d5c25129593d">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-20T14:48:37</CreateDate>
    <NodeName Default="images" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>