<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bc0193c-ea84-47f9-ae1f-ec3a65a7a6cf" Alias="Intro Card" Level="3">
  <Info>
    <Parent Key="df73d899-c90b-4531-b4e2-8f76c18e6a49">images</Parent>
    <Path>/assets/images/IntroCard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:58</CreateDate>
    <NodeName Default="Intro Card" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/himnbc2e/intro-card.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>