<?xml version="1.0" encoding="utf-8"?>
<Media Key="095ce5af-f352-421d-b9da-7f5b6de209c6" Alias="Jbl Logo" Level="3">
  <Info>
    <Parent Key="21674cb0-d1b0-4303-8f3f-86cf5bc6c52b">logos</Parent>
    <Path>/assets/logos/JblLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-05-05T14:43:59</CreateDate>
    <NodeName Default="Jbl Logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t1sfycks/jbl-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>