<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7271daa-a59f-4f40-aae8-07b4bbb6889a" Alias="Jbl Logo" Level="3">
  <Info>
    <Parent Key="b7974d07-56b6-4ecc-8cf7-ae0d18fbb82c">logos</Parent>
    <Path>/assets/logos/JblLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-04-20T14:48:42</CreateDate>
    <NodeName Default="Jbl Logo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tmodpz25/jbl-logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>