<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bd20f6f-0a1e-49c0-a869-2e6a0bc2a929" Alias="Latest News Image" Level="3">
  <Info>
    <Parent Key="dd4fb80f-c062-4c3b-8b2e-346094f0c14d">images</Parent>
    <Path>/assets/images/LatestNewsImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:39</CreateDate>
    <NodeName Default="Latest News Image" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nehnewy4/latest-news-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>