<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad33408c-fb57-4456-91a5-8e941d624150" Alias="lightbox" Level="2">
  <Info>
    <Parent Key="c3ba9841-2670-4918-bc7b-16bf23bfd9dc">assets</Parent>
    <Path>/assets/lightbox</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-05T14:43:58</CreateDate>
    <NodeName Default="lightbox" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>