<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd02cc0d-f327-4ecf-ab04-2e3a7487fee2" Alias="lightbox" Level="2">
  <Info>
    <Parent Key="3ed8e56d-5cf6-4298-97ea-d5c25129593d">assets</Parent>
    <Path>/assets/lightbox</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-20T14:48:41</CreateDate>
    <NodeName Default="lightbox" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>