<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e45aed7-0f47-4c4e-ab8f-999df12389e5" Alias="Loading" Level="3">
  <Info>
    <Parent Key="2074ee63-2da5-495c-8673-d11d32ec90f6">lightbox</Parent>
    <Path>/assets/lightbox/Loading</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:16</CreateDate>
    <NodeName Default="Loading" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0gxekhsh/loading.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>