<?xml version="1.0" encoding="utf-8"?>
<Media Key="b51eb56d-d963-4e30-9532-46fa898d41a0" Alias="Locations Map" Level="3">
  <Info>
    <Parent Key="dd4fb80f-c062-4c3b-8b2e-346094f0c14d">images</Parent>
    <Path>/assets/images/LocationsMap</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:39</CreateDate>
    <NodeName Default="Locations Map" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/no0b3nld/locations-map.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>