<?xml version="1.0" encoding="utf-8"?>
<Media Key="96762fcf-5a67-4a74-8f90-44b0778220d9" Alias="logos" Level="2">
  <Info>
    <Parent Key="0d70a899-dfc9-44cb-bca0-ad9ff636d944">assets</Parent>
    <Path>/assets/logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-02T16:57:17</CreateDate>
    <NodeName Default="logos" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>