<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7974d07-56b6-4ecc-8cf7-ae0d18fbb82c" Alias="logos" Level="102">
  <Info>
    <Parent Key="3ed8e56d-5cf6-4298-97ea-d5c25129593d">assets</Parent>
    <Path>/[-21]/assets/logos</Path>
    <Trashed Parent="3ed8e56d-5cf6-4298-97ea-d5c25129593d">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-20T14:48:42</CreateDate>
    <NodeName Default="logos" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>