<?xml version="1.0" encoding="utf-8"?>
<Media Key="82b71904-2438-4523-b862-c52083bc1761" Alias="Map Large" Level="103">
  <Info>
    <Parent Key="dd4fb80f-c062-4c3b-8b2e-346094f0c14d">images</Parent>
    <Path>/[-21]/assets/images/MapLarge</Path>
    <Trashed Parent="dd4fb80f-c062-4c3b-8b2e-346094f0c14d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:39</CreateDate>
    <NodeName Default="Map Large" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aimlpary/map-large.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>