<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c95204d-ef03-40dd-b47b-d66558ae512c" Alias="Next" Level="3">
  <Info>
    <Parent Key="ad33408c-fb57-4456-91a5-8e941d624150">lightbox</Parent>
    <Path>/assets/lightbox/Next</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:59</CreateDate>
    <NodeName Default="Next" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jmqjk5ad/next.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>