<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a6633d3-1854-496c-bf45-806bf5187e8b" Alias="Prev" Level="3">
  <Info>
    <Parent Key="dd02cc0d-f327-4ecf-ab04-2e3a7487fee2">lightbox</Parent>
    <Path>/assets/lightbox/Prev</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:41</CreateDate>
    <NodeName Default="Prev" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0uzhm0su/prev.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>