<?xml version="1.0" encoding="utf-8"?>
<Media Key="98ac1250-633c-40e0-beaf-c9627a803a8c" Alias="Prev" Level="3">
  <Info>
    <Parent Key="2074ee63-2da5-495c-8673-d11d32ec90f6">lightbox</Parent>
    <Path>/assets/lightbox/Prev</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:17</CreateDate>
    <NodeName Default="Prev" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kyjkzgb2/prev.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>