<?xml version="1.0" encoding="utf-8"?>
<Media Key="935aedc2-3934-471a-9662-eda3de5333f2" Alias="Project Logo" Level="103">
  <Info>
    <Parent Key="b7974d07-56b6-4ecc-8cf7-ae0d18fbb82c">logos</Parent>
    <Path>/[-21]/assets/logos/ProjectLogo</Path>
    <Trashed Parent="b7974d07-56b6-4ecc-8cf7-ae0d18fbb82c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:42</CreateDate>
    <NodeName Default="Project Logo" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ytwfvezu/project-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>