<?xml version="1.0" encoding="utf-8"?>
<Media Key="90e3aea6-3ce4-4d01-99f1-bb75adbbf8c1" Alias="Project Banner Background" Level="3">
  <Info>
    <Parent Key="df73d899-c90b-4531-b4e2-8f76c18e6a49">images</Parent>
    <Path>/assets/images/ProjectBannerBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:58</CreateDate>
    <NodeName Default="Project Banner Background" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ucxohehe/project-banner-background.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>