<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd570897-2afe-467c-ae76-4fa9260fa35c" Alias="Project Logo" Level="3">
  <Info>
    <Parent Key="21674cb0-d1b0-4303-8f3f-86cf5bc6c52b">logos</Parent>
    <Path>/assets/logos/ProjectLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:59</CreateDate>
    <NodeName Default="Project Logo" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/seefp5p4/project-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>