<?xml version="1.0" encoding="utf-8"?>
<Media Key="8de2fa01-c961-4c66-878f-bb5b8d3bd29e" Alias="Project Banner Background" Level="3">
  <Info>
    <Parent Key="699d6563-eeb8-4f22-aeb5-3c9917a08bd7">images</Parent>
    <Path>/assets/images/ProjectBannerBackground</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:14</CreateDate>
    <NodeName Default="Project Banner Background" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a53ofdlb/project-banner-background.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>