<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cdf580e-176d-4983-adf1-e8d3c9c89485" Alias="Project Logo" Level="3">
  <Info>
    <Parent Key="96762fcf-5a67-4a74-8f90-44b0778220d9">logos</Parent>
    <Path>/assets/logos/ProjectLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:18</CreateDate>
    <NodeName Default="Project Logo" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bbmn4ddn/project-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>