<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6bdd192-6fb3-4daf-8846-49e6304668bb" Alias="Protect Badge" Level="3">
  <Info>
    <Parent Key="ab5f3fc1-59f2-421f-948b-842057199baa">icons</Parent>
    <Path>/assets/icons/ProtectBadge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:10</CreateDate>
    <NodeName Default="Protect Badge" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/stil13vt/protect-badge.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>