<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5a22c66-bcf6-4e9f-9452-96aa8c0b5fe9" Alias="Protect Badge" Level="3">
  <Info>
    <Parent Key="709485bd-73c8-439d-a234-935a5390b65a">icons</Parent>
    <Path>/assets/icons/ProtectBadge</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:57</CreateDate>
    <NodeName Default="Protect Badge" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mawkf3pw/protect-badge.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>