<?xml version="1.0" encoding="utf-8"?>
<Media Key="106e51c8-28e3-44ec-b8a4-23be7857faa8" Alias="Services Card" Level="3">
  <Info>
    <Parent Key="dd4fb80f-c062-4c3b-8b2e-346094f0c14d">images</Parent>
    <Path>/assets/images/ServicesCard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:40</CreateDate>
    <NodeName Default="Services Card" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zzih2ehd/services-card.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>