<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c2ab60b-456c-43d0-be51-12759023ae0f" Alias="Services Card" Level="3">
  <Info>
    <Parent Key="df73d899-c90b-4531-b4e2-8f76c18e6a49">images</Parent>
    <Path>/assets/images/ServicesCard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-05T14:43:58</CreateDate>
    <NodeName Default="Services Card" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bw1cu1dm/services-card.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>