<?xml version="1.0" encoding="utf-8"?>
<Media Key="7667d6fe-7725-4068-b87b-18c00e5207b4" Alias="Testimonial Logo" Level="3">
  <Info>
    <Parent Key="96762fcf-5a67-4a74-8f90-44b0778220d9">logos</Parent>
    <Path>/assets/logos/TestimonialLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:18</CreateDate>
    <NodeName Default="Testimonial Logo" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5dlgo3rf/testimonial-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>