<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4d34511-204f-4cf2-836b-4b4eef616747" Alias="Testimonial Logo" Level="103">
  <Info>
    <Parent Key="b7974d07-56b6-4ecc-8cf7-ae0d18fbb82c">logos</Parent>
    <Path>/[-21]/assets/logos/TestimonialLogo</Path>
    <Trashed Parent="b7974d07-56b6-4ecc-8cf7-ae0d18fbb82c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-20T14:48:42</CreateDate>
    <NodeName Default="Testimonial Logo" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c3cnh3cp/testimonial-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>