<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a874370-b78e-420c-9b9d-701b1787fef2" Alias="Why Pick Jbl" Level="3">
  <Info>
    <Parent Key="699d6563-eeb8-4f22-aeb5-3c9917a08bd7">images</Parent>
    <Path>/assets/images/WhyPickJbl</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-02T16:57:15</CreateDate>
    <NodeName Default="Why Pick Jbl" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ozbjpcuo/why-pick-jbl.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>