@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!--Get A Quate Today Section-->
<section class="l-section l-section--primary-gradient l-section--no-padding b-footer-quote">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="b-footer-quote__content">

					<div class="b-footer-quote__text-wrapper">
						<h5 class="c-heading c-heading--xs c-heading--white">Get a free quote today</h5>
						<p class="c-text c-text--xs c-text--white">A no obligation quote for your requirements</p>
					</div>

					<a href="" class="c-button c-button--dark c-button--text-large btn">
						Get started <i class="fa-solid fa-arrow-right-long"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
