
//colors:
$primary: #1BA638;
$primary-light: #26BB45; 
$primary-gradient: linear-gradient(125.3deg, #26BB45 -3.65%, #10962C 91.66%);
$text: #343D4A;
$text-2: #56616C;
$text-light: #616C7C; 
$header: #212832;
$grey-background: #FBF8F8;
$grey-light: #F9FFFA;
$dark-grey: #616874;
$shade-4: #B0ABAA;
$facebook: #3B5998;
$twitter: #1DA1F2;
$border: #ECECEC;

//Shadow
$shadow: 0px 8px 17px rgba(0, 0, 0, 0.05);

//Radius
$border-radius: 7px;

//Font sizes
$main-heading: 50px;
$base-font-size: 18px;

//Line heights
$base-line-height: 150%;

//Fonts
$base-font-family: 'Libre Franklin', sans-serif; 

//Paddings

$section-spacing: 80px;
$section-spacing-mobile: 40px;