<?xml version="1.0" encoding="utf-8"?>
<Macro Key="6652a90e-7a7c-4199-947c-cbdfe397014e" Alias="DynamicServiceCards" Level="0">
  <Name>Dynamic  Service Cards</Name>
  <MacroSource>~/Views/MacroPartials/Dynamic  Service Cards.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>