<?xml version="1.0" encoding="utf-8"?>
<Macro Key="769cb42a-87cd-4b96-be11-0713fce01904" Alias="FooterJBLLogo" Level="0">
  <Name>FooterJBLLogo</Name>
  <MacroSource>~/Views/MacroPartials/FooterJBLLogo.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>