<?xml version="1.0" encoding="utf-8"?>
<Macro Key="3ed0a89e-883d-4562-b819-0299bcb63cf6" Alias="GetAFreeQuoteToday" Level="0">
  <Name>GetAFreeQuoteToday</Name>
  <MacroSource>~/Views/MacroPartials/GetAFreeQuoteToday.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>