@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="l-section l-section--large-padding-top b-intro-block">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="b-intro-block__text-wrapper">
					<h2 class="c-heading c-heading--md">@Model.Value("homeAboutCompanyDetailsTitle")</h2>
					<p class="c-text">
						@Model.Value("homeAboutCompanyDetailsDescription")
					</p>
					<a href="" class="c-button c-button--white c-button--text-large btn">
						Read more <i class="fa-solid fa-arrow-right-long"></i>
					</a>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="b-intro-block__cards-wrapper">
					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="c-intro-card">
							     
								<div class="c-intro-card__image-wrapper" style="background-image:url(assets/images/intro-card.jpg)">
								
									<div class="c-intro-card__label">
										<p>Case studies</p>
									</div>
								</div>
								<div class="c-intro-card__content-wrapper">
	                             
									<h5 class="c-heading c-heading--sm-2">We have work examples across 8 sectors that we’re proud of</h5>
									<a href="" class="c-button c-button--white c-button--text-large btn">
										See case studies <i class="fa-solid fa-arrow-right-long"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="c-intro-card c-intro-card--offset-top">
								<div class="c-intro-card__image-wrapper" style="background-image:url(assets/images/intro-card.jpg)">
									<div class="c-intro-card__label">
										<p>Sectors</p>
									</div>

								</div>
								<div class="c-intro-card__content-wrapper">
									<h5 class="c-heading c-heading--sm-2">10 years experience in the sectors we operate in...</h5>
									<a href="" class="c-button c-button--white c-button--text-large btn">
										See sectors <i class="fa-solid fa-arrow-right-long"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>