@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="l-section b-hero-banner b-hero-banner--text-left b-hero-banner--large-padding-bottom" style="background-image:url(assets/images/homepage-hero-background.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="b-hero-banner__content">
					<p class="c-heading c-heading heading__xs c-heading--primary">@Model.Value("homeHeroTitle")</p>
					<h1 class="c-heading c-heading--lg c-heading--white">@Model.Value("homeHeroDescription")</h1>
					<a href="" class="c-button c-button--primary c-button--text-large btn">
						@Model.Value("homeHeroCTA")
					</a>
				</div>
			</div>
		</div>
	</div>
</section>