<section class="l-section l-section--padding-bot l-section--no-padding-mobile b-text-w-image">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="b-text-w-image__image-wrapper">
					<img src="assets/images/locations-map.png" alt="" />
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="b-text-w-image__text-wrapper b-text-w-image__text-wrapper--right">
					<h2 class="c-heading c-heading--md">Locations we cover</h2>
					<p class="c-text">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
					</p>
					<a href="" class="c-button c-button--white c-button--text-large btn">
						Read more <i class="fa-solid fa-arrow-right-long"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>