<section class=" l-section b-hero-banner b-hero-banner--min-height b-hero-banner--text-right b-hero-banner--small-padding-bottom" style="background-image:url(assets/images/why-pick-jbl.jpg)">
	<div class="container d-none d-md-block">

		<div class="row">
			<div class="col-12">
				<div class="b-hero-banner__content">
					<h2 class="c-heading c-heading--lg c-heading--white">Why pick JBL?</h2>
					<p class="c-text c-text--white">We have a loyal team of long-standing staff – our manager has been with us for more than 15 years – which enables us to deliver excellence and continuity of service. We value our reputation and use monitoring and training to ensure all our employees carry out work with care and professionalism.</p>
					<div class="b-hero-banner__credentials-wrapper">
						<div class="b-hero-banner__credentials-image-wrapper">
							<img class="" src="assets/icons/credentials-badge.png" alt="" />
						</div>
						<div class="b-hero-banner__credentials-text-wrapper">
							<p class="b-hero-banner__credentials-heading c-text c-text--primary">We protect the natural environment</p>
							<p class="b-hero-banner__credentials-text c-text c-text--primary">Standards for Environmental, Social and Governance sustainability.</p>
							<a href="">Read more here</a>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</section>