<?xml version="1.0" encoding="utf-8"?>
<Content Key="3eb11dba-9ca6-4fd9-ba10-6a958c2d3021" Alias="Our Services Common Partial View" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurServicesCommonPartialView</Path>
    <Trashed>false</Trashed>
    <ContentType>ourServicesCommonPartialView</ContentType>
    <CreateDate>2023-05-03T15:17:04</CreateDate>
    <NodeName Default="Our Services Common Partial View">
      <Name Culture="en-us">Our Services Common Partial View</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <ourServicesCardCTA>
      <Value><![CDATA[]]></Value>
    </ourServicesCardCTA>
    <ourServicesCardGroupTitle>
      <Value><![CDATA[Our services 1324252451564126]]></Value>
    </ourServicesCardGroupTitle>
    <ourServicesFirstCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourServicesFirstCardImage>
    <ourServicesFirstCardTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesFirstCardTitle>
    <ourServicesFourthCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourServicesFourthCardImage>
    <ourServicesFourthCardTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesFourthCardTitle>
    <ourServicesSecondCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourServicesSecondCardImage>
    <ourServicesSecondCardTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesSecondCardTitle>
    <ourServicesThirdCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourServicesThirdCardImage>
    <ourServicesThirdCardTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesThirdCardTitle>
  </Properties>
</Content>