<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f63bef8-b43c-469f-9ed9-89319c435bdd" Alias="Product List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProductList</Path>
    <Trashed>false</Trashed>
    <ContentType>productsList</ContentType>
    <CreateDate>2023-04-24T17:33:27</CreateDate>
    <NodeName Default="Product List" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <productList>
      <Value><![CDATA[]]></Value>
    </productList>
  </Properties>
</Content>