@inherits Umbraco.Cms.Web.Common.Macros.PartialViewMacroPage
<div class="b-footer__company-block">
					<a href="/">
						<img class="b-footer__logo" src="assets/logos/jbl-logo.svg" alt="" />
					</a>
					<p class="c-text c-text--small c-text--bold d-none d-lg-block">JB Landscape & Property Ltd</p>
					<p class="b-footer__text c-text d-none d-lg-block">
						Registered company in England Company No:
						09099197 VAT registration No: 530 5807
					</p>
					<p>
					    © Copyright 2023 J.B.Landscape and
						Property Maintenance. All Rights Reserved.
					</p>
				</div>