<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79e0dce4-9747-46d0-bb91-00cc019566af" Alias="Hero - Hero Image - Rich Text Editor" Level="1">
  <Info>
    <Name>Hero - Hero Image - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "umbmediapicker"
    ],
    "stylesheets": [],
    "maxImageSize": 200,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>