<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9690b7d6-a9a9-4d1b-a275-3d28bd6d48b6" Alias="Jbl_HomePage - Repeatable textstrings" Level="1">
  <Info>
    <Name>Jbl_HomePage - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 10,
  "Minimum": 0
}]]></Config>
</DataType>