<?xml version="1.0" encoding="utf-8"?>
<DataType Key="52fb8713-ee72-4903-adfd-02d0d6e33bae" Alias="Jbl_HomePage - ContactEmail - Email address" Level="1">
  <Info>
    <Name>Jbl_HomePage - ContactEmail - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>