.c-text { 
	color: $text;
	
	&--white {
		color: $white;  
	}
	&--primary {
		color: $primary;
	}
	&--primary-2 {
		color: $text-2;
	}
	&--light {
		color: $text-light;
	}
	&--header {
		color: $header;
	}
	&--small {
		font-size: 16px;
		line-height: 150%;
	}
	&--xs {
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;		
	}
	&--bold {
		font-weight: 700
	}
}