@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.CaseStudys>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	 Layout ="Master.cshtml";
}

<h2>Case Studies</h2>

	<section class="l-section l-section--no-padding l-section--white b-inner-hero-banner" >
		    <div class="container"> 
		    	<div class="row">
		    		<div class="col-12 col-lg-6">	
		    			<div class="b-inner-hero-banner__text-wrapper">
		    				<p class="c-heading c-heading heading__xs c-heading--primary">@Model.Value("singleCardTitle")</p>
		    				<h1 class="c-heading c-heading--page-heading">@Model.Value("singleCardDescription")</h1>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-6">

		    		</div>
		    	</div>
			</div>		  	
		  </section>
		  
		  <section class="l-section l-section--no-padding b-project-banner">
		    <div class="container"> 
		    	<div class="row">
		    		<div class="col-12">
		    			<div class="b-project-banner__content-wrapper">
			    			<div class="b-project-banner__image" style="background-image:url(assets/images/project-banner-background.jpg)">
			    			</div>
			    			<div class="b-project-banner__content">
			    				<div class="b-project-banner__content-heading">
				    				<p class="c-text c-text--small c-text--bold">Featured project</p>
				    				<img src="assets/logos/project-logo.png" alt="" />
				    			</div>
				    			<div class="b-project-banner__content-body">
				    				<h2 class="c-heading c-heading--project c-heading--bold">Project title</h2>
				    				<p class="c-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
				    				<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
				    			</div>
			    			</div>
			    		</div>
		    		</div>	
		    	</div>
		    </div>		  	
		  </section>
		  
		   <section class="l-section l-section--no-padding b-latest-news ">
		    <div class="container b-latest-news__content-container"> 
		    	<div class="row">
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-latest-news-card">
		    				<div class="c-latest-news-card__image-wrapper c-latest-news-card__image-wrapper--small" style="background-image:url(assets/images/latest-news-image.png)">

		    				</div>
		    				<div class="c-latest-news-card__content-wrapper">
		    					<h4 class="c-heading c-heading--md-2">Project Title</h4>
		    					<p class="c-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-latest-news-card">
		    				<div class="c-latest-news-card__image-wrapper c-latest-news-card__image-wrapper--small" style="background-image:url(assets/images/latest-news-image.png)">

		    				</div>
		    				<div class="c-latest-news-card__content-wrapper">
		    					<h4 class="c-heading c-heading--md-2">Project Title</h4>
		    					<p class="c-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-latest-news-card">
		    				<div class="c-latest-news-card__image-wrapper c-latest-news-card__image-wrapper--small" style="background-image:url(assets/images/latest-news-image.png)">

		    				</div>
		    				<div class="c-latest-news-card__content-wrapper">
		    					<h4 class="c-heading c-heading--md-2">Project Title</h4>
		    					<p class="c-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-latest-news-card">
		    				<div class="c-latest-news-card__image-wrapper c-latest-news-card__image-wrapper--small" style="background-image:url(assets/images/latest-news-image.png)">

		    				</div>
		    				<div class="c-latest-news-card__content-wrapper">
		    					<h4 class="c-heading c-heading--md-2">Project Title</h4>
		    					<p class="c-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-latest-news-card">
		    				<div class="c-latest-news-card__image-wrapper c-latest-news-card__image-wrapper--small" style="background-image:url(assets/images/latest-news-image.png)">

		    				</div>
		    				<div class="c-latest-news-card__content-wrapper">
		    					<h4 class="c-heading c-heading--md-2">Project Title</h4>
		    					<p class="c-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-latest-news-card">
		    				<div class="c-latest-news-card__image-wrapper c-latest-news-card__image-wrapper--small" style="background-image:url(assets/images/latest-news-image.png)">

		    				</div>
		    				<div class="c-latest-news-card__content-wrapper">
		    					<h4 class="c-heading c-heading--md-2">Project Title</h4>
		    					<p class="c-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-latest-news-card">
		    				<div class="c-latest-news-card__image-wrapper c-latest-news-card__image-wrapper--small" style="background-image:url(assets/images/latest-news-image.png)">

		    				</div>
		    				<div class="c-latest-news-card__content-wrapper">
		    					<h4 class="c-heading c-heading--md-2">Project Title</h4>
		    					<p class="c-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-latest-news-card">
		    				<div class="c-latest-news-card__image-wrapper c-latest-news-card__image-wrapper--small" style="background-image:url(assets/images/latest-news-image.png)">

		    				</div>
		    				<div class="c-latest-news-card__content-wrapper">
		    					<h4 class="c-heading c-heading--md-2">Project Title</h4>
		    					<p class="c-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 col-lg-4">	
		    			<div class="c-latest-news-card">
		    				<div class="c-latest-news-card__image-wrapper c-latest-news-card__image-wrapper--small" style="background-image:url(assets/images/latest-news-image.png)">

		    				</div>
		    				<div class="c-latest-news-card__content-wrapper">
		    					<h4 class="c-heading c-heading--md-2">Project Title</h4>
		    					<p class="c-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.</p>
		    					<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="col-12 b-latest-news__load-more">
				          <a href="" class="c-button c-button--white c-button--text-medium btn">Load more</a>
		    		</div>
		    	</div>
			</div>		  	
		  </section>