@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
	<div class="row">
				<div class="col-12 b-services-block__heading-container">
					<h2 class="c-heading c-heading--md c-heading--white">@Model.Value("ourServicesCardGroupTitle")</h2>
				</div>
				<div class="col-6 col-lg-3">
					<div class="c-services-card">
						<div class="c-services-card__image-wrapper"
							style="background-image:url(assets/images/services-card.jpg)">

						</div>
						<div class="c-services-card__content-wrapper">
							<h4 class="c-heading c-heading--sm">Commercial Landscaping</h4>
							<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3">
					<div class="c-services-card">
						<div class="c-services-card__image-wrapper"
							style="background-image:url(assets/images/services-card.jpg)">

						</div>
						<div class="c-services-card__content-wrapper">
							<h4 class="c-heading c-heading--sm">Arboriculture</h4>
							<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3">
					<div class="c-services-card">
						<div class="c-services-card__image-wrapper"
							style="background-image:url(assets/images/services-card.jpg)">

						</div>
						<div class="c-services-card__content-wrapper">
							<h4 class="c-heading c-heading--sm">Commercial Landscaping</h4>
							<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
						</div>
					</div>
				</div>
				<div class="col-6 col-lg-3">
					<div class="c-services-card">
						<div class="c-services-card__image-wrapper"
							style="background-image:url(assets/images/services-card.jpg)">

						</div>
						<div class="c-services-card__content-wrapper">
							<h4 class="c-heading c-heading--sm">Arboriculture</h4>
							<a href="">Read more <i class="fa-solid fa-arrow-right-long"></i></a>
						</div>
					</div>
				</div>
			</div>