@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage



<nav class="c-navbar navbar navbar-expand-lg">
	<button class="c-navbar__toggle navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-nav" aria-controls="header-nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="c-navbar__content-wrapper collapse navbar-collapse" id="header-nav">
		<ul class="c-navbar__link-wrapper navbar-nav me-auto mb-2 mb-lg-0">

			<div class="c-navbar__mobile-header-content d-lg-none">
				<div class="c-navbar__mobile-header-content-left">
					<p class="c-text c-text--primary c-text--bold">01795 427 060</p>
				</div>
				<div class="c-navbar__mobile-header-content-right">
					<a href="">
						<i class="fa-brands fa-facebook"></i>
					</a>
					<a href="">
						<i class="fa-brands fa-twitter"></i>
					</a>
					<button type="button" class="c-navbar__toggle btn-close" aria-label="Close" data-bs-toggle="collapse" data-bs-target="#header-nav" aria-controls="header-nav" aria-expanded="true" aria-label="Toggle navigation"></button>
				</div>
			</div>
			<div class="c-navbar__left">
			<li class="c-navbar__link-item nav-item d-lg-none">
				<a class="c-navbar__link nav-link" aria-current="page" href="#">Home link for mobile only</a>
			</li>
			<li class="c-navbar__link-item nav-item dropdown">
				<a class="c-navbar__link nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Dropdown<i class="fa-solid fa-chevron-down"></i>
				</a>
				<ul class="c-navbar__dropdown-menu dropdown-menu">
					<li><a class="c-navbar__dropdown-item dropdown-item" href="#">Action</a></li>
					<li><a class="c-navbar__dropdown-item dropdown-item" href="#">Another action</a></li>
				</ul>
			</li>
			<li class="c-navbar__link-item nav-item dropdown">
				<a class="c-navbar__link nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Dropdown<i class="fa-solid fa-chevron-down"></i>
				</a>
				<ul class="c-navbar__dropdown-menu dropdown-menu">
					<li><a class="c-navbar__dropdown-item dropdown-item" href="#">Action</a></li>
					<li><a class="c-navbar__dropdown-item dropdown-item" href="#">Another action</a></li>
				</ul>
			</li>
			<li class="c-navbar__link-item nav-item dropdown">
				<a class="c-navbar__link nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Dropdown<i class="fa-solid fa-chevron-down"></i>
				</a>
				<ul class="c-navbar__dropdown-menu dropdown-menu">
					<li><a class="c-navbar__dropdown-item dropdown-item" href="#">Action</a></li>
					<li><a class="c-navbar__dropdown-item dropdown-item" href="#">Another action</a></li>
				</ul>
			</li>
	</div>
	<div class="c-navbar__right">
		<li class="c-navbar__link-item nav-item">
			<a class="c-navbar__link nav-link active" aria-current="page" href="#">Link</a>
		</li>
		<li class="c-navbar__link-item nav-item">
			<a class="c-navbar__link nav-link" href="#">Link</a>
		</li>
		<li class="c-navbar__link-item nav-item">
			<a class="c-navbar__link nav-link" href="#">Link</a>
		</li>
		<li class="c-navbar__link-item nav-item d-none d-lg-block">
			<a href="" class="c-button c-button--primary c-button--text-large btn">
				Get a quote
			</a>
		</li>
	</div>
	<div class="c-navbar__mobile-footer-content d-lg-none text-center">
		<p class="c-heading c-heading--white c-heading--project">Get a free quote today</p>
		<p class="c-text c-text--white c-text--xs">A no obligation quote for your requirements</p>
		<a href="" class="c-button c-button--dark c-button--text-large btn">
			Get started <i class="fa-solid fa-arrow-right-long"></i>
		</a>
	</div>
	</ul>
	</div>
</nav>
