@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<footer class="l-section l-section--white l-section--padding-bot b-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
			    <!--JblLogo-->
			    @await Umbraco.RenderMacroAsync("FooterJBLLogo", new {footerJblLogo="1056"})
			   
					
			</div>
			<div class="col-12 col-lg-8">
				<div class="b-footer__columns">
					<div class="row">
					
					 <!--Contact-->
                        <div class="b-footer__column col-12 col-lg-4">
							<h5 class="b-footer__heading c-heading c-heading--xs-2 d-none d-lg-block"><a href="#">Contact</a></h5>
							<p class="c-text c-text--small">
						
							  
							</p>
							<p class="b-footer__contact c-text c-text--small">
								<i class="fa-solid fa-phone"></i>
						       01795 427060
							</p>
							<p class="b-footer__contact c-text c-text--small">
								<i class="fa-regular fa-envelope"></i>
								<a href="mailto:info@jblandscape.co.uk">info@jblandscape.co.uk</a>
							</p>
						</div>
						<!--WebSite-->
						<div class="b-footer__column b-footer__column--half col-6 col-lg-4">
							<h5 class="b-footer__heading c-heading c-heading--xs-2"><a href="#">Website</a></h5>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
						</div>
						<!--Help-->
                        <div class="b-footer__column b-footer__column--half col-6 col-lg-4">
							<h5 class="b-footer__heading c-heading c-heading--xs-2">Help</h5>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
							<a href="" class="b-footer__column-link c-text c-text--small">Environmental Policy</a>
						</div>
					
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4 d-lg-none">
				<div class="b-footer__company-block">
					<p class="c-heading c-heading--xs-2">
						JB Landscape - Grounds Maintenance & Landscaping
						Specialists
					</p>
					<!--Duplicate of the above copywrite in the first column as it needs to move to the bottom of the page on mobile -->
					<p class="b-footer__text c-text b-footer__text--last">
						© Copyright 2022 J.B.Landscape and
						Property Maintenance. All Rights Reserved.
					</p>
					<!--Duplicate of the above copywrite in the first column as it needs to move to the bottom of the page on mobile -->
				</div>
			</div>
		</div>
	</div>
</footer>
