<?xml version="1.0" encoding="utf-8"?>
<Content Key="d166d8ae-61d3-4865-8e9b-d8c15ecc4ea2" Alias="About Us" Level="2">
  <Info>
    <Parent Key="c2a3e5a1-557f-4414-bd91-60b352dc34d0">Jbl_HomePage</Parent>
    <Path>/Jbl_HomePage/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aobutHomeChild</ContentType>
    <CreateDate>2023-04-28T17:26:36</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>