<?xml version="1.0" encoding="utf-8"?>
<Content Key="02552c30-578b-4750-b16b-937b6e6dd7a2" Alias="About_Us" Level="2">
  <Info>
    <Parent Key="c2a3e5a1-557f-4414-bd91-60b352dc34d0">Jbl_HomePage</Parent>
    <Path>/Jbl_HomePage/About_Us</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2023-04-20T14:10:32</CreateDate>
    <NodeName Default="About_Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b0e1f76-4c99-4d13-87ed-bf20c47337c1">AboutUs</Template>
  </Info>
  <Properties>
    <aboutTitle>
      <Value><![CDATA[]]></Value>
    </aboutTitle>
  </Properties>
</Content>