<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f33a526-e399-480b-bc4c-ce14c391e8dd" Alias="About Us" Level="3">
  <Info>
    <Parent Key="d166d8ae-61d3-4865-8e9b-d8c15ecc4ea2">About Us</Parent>
    <Path>/HomePage/AboutUs/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2023-04-28T17:27:06</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b0e1f76-4c99-4d13-87ed-bf20c47337c1">AboutUs</Template>
  </Info>
  <Properties>
    <aboutUsCompanyTitle>
      <Value><![CDATA[About JBL]]></Value>
    </aboutUsCompanyTitle>
    <aboutUsImage>
      <Value><![CDATA[[]]]></Value>
    </aboutUsImage>
    <aboutUsTitleDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.]]></Value>
    </aboutUsTitleDescription>
    <ourFirstCardDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.]]></Value>
    </ourFirstCardDescription>
    <ourFirstCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourFirstCardImage>
    <ourFirstCardTitle>
      <Value><![CDATA[Our Reputation ]]></Value>
    </ourFirstCardTitle>
    <ourSecondCardDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.]]></Value>
    </ourSecondCardDescription>
    <ourSecondCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourSecondCardImage>
    <ourSecondCardTitle>
      <Value><![CDATA[Our Mission]]></Value>
    </ourSecondCardTitle>
    <serviceFeaturesFirstCardDescription>
      <Value><![CDATA[Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris...]]></Value>
    </serviceFeaturesFirstCardDescription>
    <serviceFeaturesFirstCardIcon>
      <Value><![CDATA[[]]]></Value>
    </serviceFeaturesFirstCardIcon>
    <serviceFeaturesFirstCardTitle>
      <Value><![CDATA[Zero-waste & Green-focussed]]></Value>
    </serviceFeaturesFirstCardTitle>
    <serviceFeaturesFourthCardDescription>
      <Value><![CDATA[Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris...]]></Value>
    </serviceFeaturesFourthCardDescription>
    <serviceFeaturesFourthCardIcon>
      <Value><![CDATA[[]]]></Value>
    </serviceFeaturesFourthCardIcon>
    <serviceFeaturesFourthCardTitle>
      <Value><![CDATA[Competitive pricing & free consultations]]></Value>
    </serviceFeaturesFourthCardTitle>
    <serviceFeaturesSecondCardDescription>
      <Value><![CDATA[Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris...]]></Value>
    </serviceFeaturesSecondCardDescription>
    <serviceFeaturesSecondCardIcon>
      <Value><![CDATA[[]]]></Value>
    </serviceFeaturesSecondCardIcon>
    <serviceFeaturesSecondCardTitle>
      <Value><![CDATA[Reputable company with post-audits]]></Value>
    </serviceFeaturesSecondCardTitle>
    <serviceFeaturesThirdCardDescription>
      <Value><![CDATA[Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris...]]></Value>
    </serviceFeaturesThirdCardDescription>
    <serviceFeaturesThirdCardIcon>
      <Value><![CDATA[[]]]></Value>
    </serviceFeaturesThirdCardIcon>
    <serviceFeaturesThirdCardTitle>
      <Value><![CDATA[Family run with a personal touch]]></Value>
    </serviceFeaturesThirdCardTitle>
    <singleCardDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.]]></Value>
    </singleCardDescription>
    <singleCardImage>
      <Value><![CDATA[[]]]></Value>
    </singleCardImage>
    <singleCardTitle>
      <Value><![CDATA[About JBL]]></Value>
    </singleCardTitle>
    <subPagesCardCTA>
      <Value><![CDATA[]]></Value>
    </subPagesCardCTA>
    <subPagesCardFirstImage>
      <Value><![CDATA[[]]]></Value>
    </subPagesCardFirstImage>
    <subPagesCardFirstTitle>
      <Value><![CDATA[]]></Value>
    </subPagesCardFirstTitle>
    <subPagesCardSecondImage>
      <Value><![CDATA[[]]]></Value>
    </subPagesCardSecondImage>
    <subPagesCardSecondTitle>
      <Value><![CDATA[]]></Value>
    </subPagesCardSecondTitle>
    <subPagesCardThirdImage>
      <Value><![CDATA[[]]]></Value>
    </subPagesCardThirdImage>
    <subPagesCardThirdTitle>
      <Value><![CDATA[]]></Value>
    </subPagesCardThirdTitle>
  </Properties>
</Content>