<?xml version="1.0" encoding="utf-8"?>
<Content Key="74564587-fedc-47fd-a7f9-3f6d8a1bbb15" Alias="AboutUs" Level="102">
  <Info>
    <Parent Key="02552c30-578b-4750-b16b-937b6e6dd7a2">About_Us</Parent>
    <Path>/[-20]/About_Us/AboutUs</Path>
    <Trashed Parent="02552c30-578b-4750-b16b-937b6e6dd7a2">true</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2023-04-25T11:50:35</CreateDate>
    <NodeName Default="AboutUs" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b0e1f76-4c99-4d13-87ed-bf20c47337c1">AboutUs</Template>
  </Info>
  <Properties>
    <aboutTitle>
      <Value><![CDATA[]]></Value>
    </aboutTitle>
    <heroDescription>
      <Value><![CDATA[Hello]]></Value>
    </heroDescription>
    <heroImage>
      <Value><![CDATA[[]]]></Value>
    </heroImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
  </Properties>
</Content>