<?xml version="1.0" encoding="utf-8"?>
<Content Key="02552c30-578b-4750-b16b-937b6e6dd7a2" Alias="About_Us" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/About_Us</Path>
    <Trashed Parent="c2a3e5a1-557f-4414-bd91-60b352dc34d0">true</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2023-04-20T14:10:32</CreateDate>
    <NodeName Default="About_Us" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b0e1f76-4c99-4d13-87ed-bf20c47337c1">AboutUs</Template>
  </Info>
  <Properties>
    <aboutTitle>
      <Value><![CDATA[]]></Value>
    </aboutTitle>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "99e0f15c-bdad-4285-b2ab-1e34cb72ad11",
    "mediaKey": "e6c35f71-7e2c-4a89-a164-42961d3e2d18"
  }
]]]></Value>
    </heroImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
  </Properties>
</Content>