<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f33a526-e399-480b-bc4c-ce14c391e8dd" Alias="About Us" Level="3">
  <Info>
    <Parent Key="d166d8ae-61d3-4865-8e9b-d8c15ecc4ea2">About Us</Parent>
    <Path>/HomePage/AboutUs/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2023-04-28T17:27:06</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b0e1f76-4c99-4d13-87ed-bf20c47337c1">AboutUs</Template>
  </Info>
  <Properties>
    <aboutCompanyTitle>
      <Value><![CDATA[About JBL]]></Value>
    </aboutCompanyTitle>
    <aboutCompanyTitleImage>
      <Value><![CDATA[[]]]></Value>
    </aboutCompanyTitleImage>
    <aboutTitle>
      <Value><![CDATA[]]></Value>
    </aboutTitle>
    <aboutUsCardFourDescription>
      <Value><![CDATA[]]></Value>
    </aboutUsCardFourDescription>
    <aboutUsCardFourTitle>
      <Value><![CDATA[]]></Value>
    </aboutUsCardFourTitle>
    <aboutUsCardOneDescription>
      <Value><![CDATA[]]></Value>
    </aboutUsCardOneDescription>
    <aboutUsCardOneTitle>
      <Value><![CDATA[]]></Value>
    </aboutUsCardOneTitle>
    <aboutUsCardThreeDescription>
      <Value><![CDATA[]]></Value>
    </aboutUsCardThreeDescription>
    <aboutUsCardThreeTitle>
      <Value><![CDATA[]]></Value>
    </aboutUsCardThreeTitle>
    <aboutUsCardTwoDescription>
      <Value><![CDATA[]]></Value>
    </aboutUsCardTwoDescription>
    <aboutUsCardTwoTitle>
      <Value><![CDATA[]]></Value>
    </aboutUsCardTwoTitle>
    <aboutUsTitleDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.]]></Value>
    </aboutUsTitleDescription>
    <subPagesCardCTA>
      <Value><![CDATA[]]></Value>
    </subPagesCardCTA>
    <subPagesCardFirstImage>
      <Value><![CDATA[[]]]></Value>
    </subPagesCardFirstImage>
    <subPagesCardFirstTitle>
      <Value><![CDATA[]]></Value>
    </subPagesCardFirstTitle>
    <subPagesCardSecondImage>
      <Value><![CDATA[[]]]></Value>
    </subPagesCardSecondImage>
    <subPagesCardSecondTitle>
      <Value><![CDATA[]]></Value>
    </subPagesCardSecondTitle>
    <subPagesCardThirdImage>
      <Value><![CDATA[[]]]></Value>
    </subPagesCardThirdImage>
    <subPagesCardThirdTitle>
      <Value><![CDATA[]]></Value>
    </subPagesCardThirdTitle>
  </Properties>
</Content>