<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f33a526-e399-480b-bc4c-ce14c391e8dd" Alias="About Us" Level="3">
  <Info>
    <Parent Key="d166d8ae-61d3-4865-8e9b-d8c15ecc4ea2">About Us</Parent>
    <Path>/HomePage/AboutUs/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2023-04-28T17:27:06</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b0e1f76-4c99-4d13-87ed-bf20c47337c1">AboutUs</Template>
  </Info>
  <Properties>
    <aboutTitle>
      <Value><![CDATA[]]></Value>
    </aboutTitle>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "80361181-7c65-40ca-9151-07dad523082f",
    "mediaKey": "7cf49d3e-5158-40a0-bc86-1a0f3b791592"
  }
]]]></Value>
    </heroImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <subPagesCardFirstImage>
      <Value><![CDATA[[
  {
    "key": "b0ee5c4d-5f16-4df3-8cf4-79e91435729e",
    "mediaKey": "7d3f092b-fcee-4e80-a33b-70c101d6e236"
  }
]]]></Value>
    </subPagesCardFirstImage>
    <subPagesCardFirstTitle>
      <Value><![CDATA[]]></Value>
    </subPagesCardFirstTitle>
    <subPagesCardSecondImage>
      <Value><![CDATA[[
  {
    "key": "d0b094dc-fb01-4aeb-8125-e5e378cc5626",
    "mediaKey": "4696e3ae-c6e2-4eb6-87e0-a9331ba50e9f"
  }
]]]></Value>
    </subPagesCardSecondImage>
    <subPagesCardSecondTitle>
      <Value><![CDATA[]]></Value>
    </subPagesCardSecondTitle>
    <subPagesCardThirdImage>
      <Value><![CDATA[[
  {
    "key": "7a9a2f90-f3c8-4928-9e16-8da30d9bee36",
    "mediaKey": "ab04fc13-da79-405e-bc28-acd857961813"
  }
]]]></Value>
    </subPagesCardThirdImage>
    <subPagesCardThirdTitle>
      <Value><![CDATA[]]></Value>
    </subPagesCardThirdTitle>
  </Properties>
</Content>