<?xml version="1.0" encoding="utf-8"?>
<Content Key="397ebc82-ed0e-4d96-bc34-2690470d5eeb" Alias="Accreditations" Level="3">
  <Info>
    <Parent Key="02552c30-578b-4750-b16b-937b6e6dd7a2">About_Us</Parent>
    <Path>/Jbl_HomePage/About_Us/Accreditations</Path>
    <Trashed>false</Trashed>
    <ContentType>accreditations</ContentType>
    <CreateDate>2023-04-25T12:14:24</CreateDate>
    <NodeName Default="Accreditations" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c081a8ac-70bf-42da-bf0b-8d738779ec3a">Accreditations</Template>
  </Info>
  <Properties>
    <accreditationsContent>
      <Value><![CDATA[]]></Value>
    </accreditationsContent>
    <accreditationsTitle>
      <Value><![CDATA[]]></Value>
    </accreditationsTitle>
  </Properties>
</Content>