<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9a2b0b9-d536-494f-8ca0-8ab450165b9e" Alias="Arboriculture" Level="3">
  <Info>
    <Parent Key="6908661e-250b-44d2-bf92-53fed49a7774">Services</Parent>
    <Path>/Jbl_HomePage/Services/Arboriculture</Path>
    <Trashed>false</Trashed>
    <ContentType>commercialLandscaping</ContentType>
    <CreateDate>2023-04-25T18:10:09</CreateDate>
    <NodeName Default="Arboriculture" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f216a493-c51c-4fa4-b3b9-b365ece0b00c">CommercialLandscaping</Template>
  </Info>
  <Properties>
    <servicesContent>
      <Value><![CDATA[]]></Value>
    </servicesContent>
    <servicesSubTitle>
      <Value><![CDATA[]]></Value>
    </servicesSubTitle>
  </Properties>
</Content>