<?xml version="1.0" encoding="utf-8"?>
<Content Key="507641c3-da7c-40c5-b08f-744d94a9c6c9" Alias="Arboriculture" Level="3">
  <Info>
    <Parent Key="ff0d73d0-3b30-4b08-bcda-26578b327170">Services</Parent>
    <Path>/HomePage/Services/Arboriculture</Path>
    <Trashed>false</Trashed>
    <ContentType>commercialLandscaping</ContentType>
    <CreateDate>2023-04-28T17:49:21</CreateDate>
    <NodeName Default="Arboriculture" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f216a493-c51c-4fa4-b3b9-b365ece0b00c">CommercialLandscaping</Template>
  </Info>
  <Properties>
    <servicesContent>
      <Value><![CDATA[]]></Value>
    </servicesContent>
    <servicesSubTitle>
      <Value><![CDATA[]]></Value>
    </servicesSubTitle>
  </Properties>
</Content>