<?xml version="1.0" encoding="utf-8"?>
<Content Key="0384f223-e286-489b-88b0-e64d9e7b04f7" Alias="Arboriculture" Level="2">
  <Info>
    <Parent Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">Product List</Parent>
    <Path>/ProductList/Arboriculture</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-04-21T11:46:34</CreateDate>
    <NodeName Default="Arboriculture" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[[
  {
    "name": "Services",
    "udi": "umb://document/6908661e250b44d2bf9253fed49a7774"
  }
]]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[Arboriculture]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "4a610c4c-d11e-442b-9019-932671b06e47",
    "mediaKey": "106e51c8-28e3-44ec-b8a4-23be7857faa8"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>