<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc12d8b6-cf6b-4455-89ce-084556c79cac" Alias="Business &amp; Science Parks" Level="3">
  <Info>
    <Parent Key="7549de24-5aa4-4be1-824a-ed1e19e7f7e9">Sectors</Parent>
    <Path>/HomePage/Sectors/BusinessScienceParks</Path>
    <Trashed>false</Trashed>
    <ContentType>governmentMOD</ContentType>
    <CreateDate>2023-04-28T17:37:50</CreateDate>
    <NodeName Default="Business &amp; Science Parks" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27a75fb9-e541-4fda-be31-277226ad6a96">GovernmentMOD</Template>
  </Info>
  <Properties>
    <governmentContent>
      <Value><![CDATA[]]></Value>
    </governmentContent>
    <governmentTitle>
      <Value><![CDATA[]]></Value>
    </governmentTitle>
  </Properties>
</Content>