<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6b1003d-6b9d-4111-a6df-2a4ea9a3764e" Alias="Case Study 6" Level="2">
  <Info>
    <Parent Key="c908d6e8-d642-4291-b8a5-19704a415963">Case Study List</Parent>
    <Path>/CaseStudyList/CaseStudy6</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2023-05-10T15:26:33</CreateDate>
    <NodeName Default="Case Study 6" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6b8fe9c7-4d6b-45aa-bf7b-86af21786867">CaseStudy</Template>
  </Info>
  <Properties>
    <caseStudyCTA>
      <Value><![CDATA[Read more]]></Value>
    </caseStudyCTA>
    <caseStudyDescription>
      <Value><![CDATA[Description]]></Value>
    </caseStudyDescription>
    <caseStudyImage>
      <Value><![CDATA[[
  {
    "key": "0f6296c5-9282-4838-9ac1-ceea81d3a1b9",
    "mediaKey": "4e090c97-985f-4e43-a512-b4e8735d3f47"
  }
]]]></Value>
    </caseStudyImage>
    <caseStudyTitle>
      <Value><![CDATA[Project Title]]></Value>
    </caseStudyTitle>
  </Properties>
</Content>