<?xml version="1.0" encoding="utf-8"?>
<Content Key="92c70eb9-382b-4030-a156-2fcb4eee4302" Alias="Case Study 7" Level="2">
  <Info>
    <Parent Key="c908d6e8-d642-4291-b8a5-19704a415963">Case Study List</Parent>
    <Path>/CaseStudyList/CaseStudy7</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2023-05-10T15:27:26</CreateDate>
    <NodeName Default="Case Study 7" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6b8fe9c7-4d6b-45aa-bf7b-86af21786867">CaseStudy</Template>
  </Info>
  <Properties>
    <caseStudyCTA>
      <Value><![CDATA[Read more]]></Value>
    </caseStudyCTA>
    <caseStudyDescription>
      <Value><![CDATA[Description]]></Value>
    </caseStudyDescription>
    <caseStudyImage>
      <Value><![CDATA[[
  {
    "key": "3053ead5-5db7-4ffc-bc1f-01986690758b",
    "mediaKey": "8bc0193c-ea84-47f9-ae1f-ec3a65a7a6cf"
  }
]]]></Value>
    </caseStudyImage>
    <caseStudyTitle>
      <Value><![CDATA[Project Title]]></Value>
    </caseStudyTitle>
  </Properties>
</Content>