<?xml version="1.0" encoding="utf-8"?>
<Content Key="64217488-8f84-4c9b-aaa7-9632b66d9897" Alias="Case Study 4" Level="2">
  <Info>
    <Parent Key="c908d6e8-d642-4291-b8a5-19704a415963">Case Study List</Parent>
    <Path>/CaseStudyList/CaseStudy4</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2023-05-10T15:24:27</CreateDate>
    <NodeName Default="Case Study 4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6b8fe9c7-4d6b-45aa-bf7b-86af21786867">CaseStudy</Template>
  </Info>
  <Properties>
    <caseStudyCTA>
      <Value><![CDATA[more]]></Value>
    </caseStudyCTA>
    <caseStudyDescription>
      <Value><![CDATA[Description]]></Value>
    </caseStudyDescription>
    <caseStudyImage>
      <Value><![CDATA[[
  {
    "key": "75a01eff-9382-434c-be6a-25625cb69186",
    "mediaKey": "703426ea-b3da-4fbf-b91d-89af8064a812"
  }
]]]></Value>
    </caseStudyImage>
    <caseStudyTitle>
      <Value><![CDATA[Title]]></Value>
    </caseStudyTitle>
  </Properties>
</Content>