<?xml version="1.0" encoding="utf-8"?>
<Content Key="9b393e5b-1294-414a-876b-284042634434" Alias="Case Study 5" Level="2">
  <Info>
    <Parent Key="c908d6e8-d642-4291-b8a5-19704a415963">Case Study List</Parent>
    <Path>/CaseStudyList/CaseStudy5</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2023-05-10T15:25:24</CreateDate>
    <NodeName Default="Case Study 5" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6b8fe9c7-4d6b-45aa-bf7b-86af21786867">CaseStudy</Template>
  </Info>
  <Properties>
    <caseStudyCTA>
      <Value><![CDATA[more]]></Value>
    </caseStudyCTA>
    <caseStudyDescription>
      <Value><![CDATA[Description]]></Value>
    </caseStudyDescription>
    <caseStudyImage>
      <Value><![CDATA[[
  {
    "key": "17460db2-4991-476b-9033-04b4828f6941",
    "mediaKey": "787eceb2-b2f2-46b0-acb9-dce35f9140af"
  }
]]]></Value>
    </caseStudyImage>
    <caseStudyTitle>
      <Value><![CDATA[Title]]></Value>
    </caseStudyTitle>
  </Properties>
</Content>