<?xml version="1.0" encoding="utf-8"?>
<Content Key="84c72625-cdb4-43b6-b632-00c781f88977" Alias="Case 10" Level="2">
  <Info>
    <Parent Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">Product List</Parent>
    <Path>/ProductList/Case10</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-04-28T16:25:01</CreateDate>
    <NodeName Default="Case 10" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[siteMap]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "b7047b69-f19c-4d45-b681-9935400da3c7",
    "mediaKey": "ebf10e5d-ee33-4299-8c6f-1fd6afd3e931"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>