<?xml version="1.0" encoding="utf-8"?>
<Content Key="1966ff8b-882d-415c-99d7-2c831cf9bbf6" Alias="Case 3" Level="2">
  <Info>
    <Parent Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">Product List</Parent>
    <Path>/ProductList/Case3</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-05-04T15:36:55</CreateDate>
    <NodeName Default="Case 3" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "fff17628-1528-4cfe-a4e3-b42d48af80dd",
    "mediaKey": "ebf10e5d-ee33-4299-8c6f-1fd6afd3e931"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>