<?xml version="1.0" encoding="utf-8"?>
<Content Key="5212fdd6-8d8c-465b-90f4-cb36c2e6e58c" Alias="Case Study 3" Level="2">
  <Info>
    <Parent Key="c908d6e8-d642-4291-b8a5-19704a415963">Case Study List</Parent>
    <Path>/CaseStudyList/CaseStudy3</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2023-05-09T18:05:54</CreateDate>
    <NodeName Default="Case Study 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6b8fe9c7-4d6b-45aa-bf7b-86af21786867">CaseStudy</Template>
  </Info>
  <Properties>
    <caseStudyCTA>
      <Value><![CDATA[Read more]]></Value>
    </caseStudyCTA>
    <caseStudyDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.]]></Value>
    </caseStudyDescription>
    <caseStudyImage>
      <Value><![CDATA[[
  {
    "key": "8f973f1a-a4f6-49ab-b2a4-4d83db7936c0",
    "mediaKey": "4e090c97-985f-4e43-a512-b4e8735d3f47"
  }
]]]></Value>
    </caseStudyImage>
    <caseStudyTitle>
      <Value><![CDATA[Project Title]]></Value>
    </caseStudyTitle>
  </Properties>
</Content>