<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ed22e49-c7d5-46d7-be55-72c83ed84bc3" Alias="Case Studies" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CaseStudies</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudys</ContentType>
    <CreateDate>2023-04-25T18:17:09</CreateDate>
    <NodeName Default="Case Studies" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc3472f9-6141-42a8-9650-e2e63a1eba12">CaseStudys</Template>
  </Info>
  <Properties>
    <caseStudyContent>
      <Value><![CDATA[]]></Value>
    </caseStudyContent>
    <caseStudyTitle>
      <Value><![CDATA[]]></Value>
    </caseStudyTitle>
    <singleCardDescription>
      <Value><![CDATA[A collection of our most-recent works with top clients]]></Value>
    </singleCardDescription>
    <singleCardImage>
      <Value><![CDATA[[
  {
    "key": "151c7225-ed19-4397-a7dd-c0ef1e6500cc",
    "mediaKey": "90e3aea6-3ce4-4d01-99f1-bb75adbbf8c1"
  }
]]]></Value>
    </singleCardImage>
    <singleCardTitle>
      <Value><![CDATA[Case Studies]]></Value>
    </singleCardTitle>
  </Properties>
</Content>