<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c10a030-70ea-4502-b8f1-cc44b59720c6" Alias="Case Studys 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CaseStudys1</Path>
    <Trashed Parent="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-04-21T11:56:47</CreateDate>
    <NodeName Default="Case Studys 1" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[We have work examples across 8 sectors that we’re proud of]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "201e16a7-7593-447d-bb20-0289b5ad6f03",
    "mediaKey": "9bb6d312-18fc-4411-b4ed-2706df3a6ece"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>