<?xml version="1.0" encoding="utf-8"?>
<Content Key="3efc0428-cd89-4bf7-9e25-10fce5fffcf9" Alias="Case 6" Level="2">
  <Info>
    <Parent Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">Product List</Parent>
    <Path>/ProductList/Case6</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-04-21T17:24:51</CreateDate>
    <NodeName Default="Case 6" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[Working for JBL  2121]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "3d358092-e210-4cbb-b20d-1c3984e5e94e",
    "mediaKey": "e6c35f71-7e2c-4a89-a164-42961d3e2d18"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>