<?xml version="1.0" encoding="utf-8"?>
<Content Key="78b41a2e-8705-4f35-965e-cbf21cf211dc" Alias="case 8" Level="2">
  <Info>
    <Parent Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">Product List</Parent>
    <Path>/ProductList/case8</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-04-24T17:52:16</CreateDate>
    <NodeName Default="case 8" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[2022]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "aebf7eea-5474-4f06-b8a9-03240904eb7b",
    "mediaKey": "678b1d82-555c-4f75-bc5b-8fdddbbac2e6"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>