<?xml version="1.0" encoding="utf-8"?>
<Content Key="54a296f7-e88c-4a18-aba2-ccc2d08b8723" Alias="Case 4" Level="2">
  <Info>
    <Parent Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">Product List</Parent>
    <Path>/ProductList/Case4</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-05-05T12:02:38</CreateDate>
    <NodeName Default="Case 4" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "e6855589-b110-4dc0-abbb-a029e95c9f8d",
    "mediaKey": "0cdf580e-176d-4983-adf1-e8d3c9c89485"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>