<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c7e0563-8a4d-44f0-96af-c0f03eb2e2d2" Alias="Case 2" Level="2">
  <Info>
    <Parent Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">Product List</Parent>
    <Path>/ProductList/Case2</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-05-04T15:36:42</CreateDate>
    <NodeName Default="Case 2" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "4bfb59de-494a-4070-8a37-d38bcdd89314",
    "mediaKey": "24b3d3b5-e567-4c5b-ae20-1ecb08146896"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>