<?xml version="1.0" encoding="utf-8"?>
<Content Key="1335b87c-78e7-4ff5-9314-dff93d5143cc" Alias="Case Study 1" Level="2">
  <Info>
    <Parent Key="c908d6e8-d642-4291-b8a5-19704a415963">Case Study List</Parent>
    <Path>/CaseStudyList/CaseStudy1</Path>
    <Trashed>false</Trashed>
    <ContentType>caseStudy</ContentType>
    <CreateDate>2023-05-09T16:54:40</CreateDate>
    <NodeName Default="Case Study 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6b8fe9c7-4d6b-45aa-bf7b-86af21786867">CaseStudy</Template>
  </Info>
  <Properties>
    <caseStudyCTA>
      <Value><![CDATA[Read more]]></Value>
    </caseStudyCTA>
    <caseStudyDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.]]></Value>
    </caseStudyDescription>
    <caseStudyImage>
      <Value><![CDATA[[
  {
    "key": "10d58ac8-449e-4222-9286-c4cf69f912f7",
    "mediaKey": "90e3aea6-3ce4-4d01-99f1-bb75adbbf8c1"
  }
]]]></Value>
    </caseStudyImage>
    <caseStudyTitle>
      <Value><![CDATA[Project Title]]></Value>
    </caseStudyTitle>
  </Properties>
</Content>