<?xml version="1.0" encoding="utf-8"?>
<Content Key="f601c24b-3431-40bc-bfb8-f69f76368240" Alias="Case 7" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Case7</Path>
    <Trashed Parent="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-04-24T10:52:03</CreateDate>
    <NodeName Default="Case 7" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[Govt]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "0e271d37-a1bc-4bfe-beac-5ffb344da627",
    "mediaKey": "9bb6d312-18fc-4411-b4ed-2706df3a6ece"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>