<?xml version="1.0" encoding="utf-8"?>
<Content Key="9686a369-f98b-428f-bb63-c3ab70dceee9" Alias="Case 5" Level="2">
  <Info>
    <Parent Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">Product List</Parent>
    <Path>/ProductList/Case5</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-04-21T12:12:17</CreateDate>
    <NodeName Default="Case 5" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[Working for JBL  ]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "e7e3cd13-c84f-4e58-bb3e-25b7fa14cad8",
    "mediaKey": "24b3d3b5-e567-4c5b-ae20-1ecb08146896"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>