<?xml version="1.0" encoding="utf-8"?>
<Content Key="1966ff8b-882d-415c-99d7-2c831cf9bbf6" Alias="Case 3" Level="2">
  <Info>
    <Parent Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">Product List</Parent>
    <Path>/ProductList/Case3</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-05-04T15:36:55</CreateDate>
    <NodeName Default="Case 3" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "2b6ec903-15f5-49fe-bf6c-246647087b9f",
    "mediaKey": "168f6314-2a0c-4b16-b2f5-bf48a13a6999"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>