<?xml version="1.0" encoding="utf-8"?>
<Content Key="84c5cede-1217-43ee-b4c3-03f6cd570fd6" Alias="Commercial Landscaping" Level="102">
  <Info>
    <Parent Key="6908661e-250b-44d2-bf92-53fed49a7774">Services1</Parent>
    <Path>/[-20]/Services1/CommercialLandscaping</Path>
    <Trashed Parent="6908661e-250b-44d2-bf92-53fed49a7774">true</Trashed>
    <ContentType>commercialLandscaping</ContentType>
    <CreateDate>2023-04-25T18:09:39</CreateDate>
    <NodeName Default="Commercial Landscaping" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f216a493-c51c-4fa4-b3b9-b365ece0b00c">CommercialLandscaping</Template>
  </Info>
  <Properties>
    <servicesContent>
      <Value><![CDATA[]]></Value>
    </servicesContent>
    <servicesSubTitle>
      <Value><![CDATA[Services]]></Value>
    </servicesSubTitle>
  </Properties>
</Content>