<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c272ee3-971a-4ccd-9874-15db9c29a920" Alias="common services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/commonServices</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesList</ContentType>
    <CreateDate>2023-05-03T18:48:54</CreateDate>
    <NodeName Default="common services" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceImage>
      <Value><![CDATA[[
  {
    "key": "a15b832f-59ea-4d0f-ad92-64bfddd20760",
    "mediaKey": "8ba7826b-150d-4b3a-b46e-f99a37a08b91"
  }
]]]></Value>
    </serviceImage>
    <title>
      <Value><![CDATA[Commercial Landscaping]]></Value>
    </title>
  </Properties>
</Content>