<?xml version="1.0" encoding="utf-8"?>
<Content Key="595c5cff-c9cb-4d84-b9fb-1731a60841a8" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2023-04-25T18:17:39</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3cb5779b-c675-4ac9-b2fe-d933c205f515">ContactUs</Template>
  </Info>
  <Properties>
    <contactUsTitle>
      <Value><![CDATA[]]></Value>
    </contactUsTitle>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroImage>
      <Value><![CDATA[[]]]></Value>
    </heroImage>
    <heroTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </heroTitle>
  </Properties>
</Content>