<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a570695-957a-406e-b1b9-2bc93973c958" Alias="Education" Level="3">
  <Info>
    <Parent Key="53060391-f1d1-4a24-a741-2f818b4a6081">Sectors</Parent>
    <Path>/Jbl_HomePage/Sectors/Education</Path>
    <Trashed>false</Trashed>
    <ContentType>governmentMOD</ContentType>
    <CreateDate>2023-04-25T18:01:27</CreateDate>
    <NodeName Default="Education" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27a75fb9-e541-4fda-be31-277226ad6a96">GovernmentMOD</Template>
  </Info>
  <Properties>
    <governmentContent>
      <Value><![CDATA[]]></Value>
    </governmentContent>
    <governmentTitle>
      <Value><![CDATA[]]></Value>
    </governmentTitle>
  </Properties>
</Content>