<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd7b03b0-8d0f-435e-83b3-3a330852dad2" Alias="Featured Project CTA" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FeaturedProjectCTA</Path>
    <Trashed>false</Trashed>
    <ContentType>featuredProjectCTA</ContentType>
    <CreateDate>2023-05-10T17:28:15</CreateDate>
    <NodeName Default="Featured Project CTA" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f9528d71-2996-4cb1-ad1a-eaadc0c05899">FeaturedProjectCTA</Template>
  </Info>
  <Properties>
    <firstDescription>
      <Value><![CDATA[Description 1]]></Value>
    </firstDescription>
    <firstTitle>
      <Value><![CDATA[Title 1]]></Value>
    </firstTitle>
    <secondDescription>
      <Value><![CDATA[Description 2]]></Value>
    </secondDescription>
    <secondTitle>
      <Value><![CDATA[Title 2]]></Value>
    </secondTitle>
    <singleCardDescription>
      <Value><![CDATA[Description]]></Value>
    </singleCardDescription>
    <singleCardImage>
      <Value><![CDATA[[
  {
    "key": "25baf9b4-5467-4fd2-b7de-f25b7aa601f1",
    "mediaKey": "90e3aea6-3ce4-4d01-99f1-bb75adbbf8c1"
  }
]]]></Value>
    </singleCardImage>
    <singleCardTitle>
      <Value><![CDATA[Title]]></Value>
    </singleCardTitle>
  </Properties>
</Content>