<?xml version="1.0" encoding="utf-8"?>
<Content Key="c86983d4-c2da-498c-ae83-9066dffade24" Alias="Government &amp; MOD" Level="3">
  <Info>
    <Parent Key="7549de24-5aa4-4be1-824a-ed1e19e7f7e9">Sectors</Parent>
    <Path>/HomePage/Sectors/GovernmentMOD</Path>
    <Trashed>false</Trashed>
    <ContentType>governmentMOD</ContentType>
    <CreateDate>2023-04-28T17:37:14</CreateDate>
    <NodeName Default="Government &amp; MOD" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27a75fb9-e541-4fda-be31-277226ad6a96">GovernmentMOD</Template>
  </Info>
  <Properties>
    <governmentContent>
      <Value><![CDATA[]]></Value>
    </governmentContent>
    <governmentTitle>
      <Value><![CDATA[]]></Value>
    </governmentTitle>
  </Properties>
</Content>