<?xml version="1.0" encoding="utf-8"?>
<Content Key="da9676e9-4cd6-4c02-9eca-0140f460e0e1" Alias="Government &amp; MOD" Level="102">
  <Info>
    <Parent Key="53060391-f1d1-4a24-a741-2f818b4a6081">Sectors (1)</Parent>
    <Path>/[-20]/Sectors1/GovernmentMOD</Path>
    <Trashed Parent="53060391-f1d1-4a24-a741-2f818b4a6081">true</Trashed>
    <ContentType>governmentMOD</ContentType>
    <CreateDate>2023-04-25T14:46:46</CreateDate>
    <NodeName Default="Government &amp; MOD" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27a75fb9-e541-4fda-be31-277226ad6a96">GovernmentMOD</Template>
  </Info>
  <Properties>
    <governmentContent>
      <Value><![CDATA[]]></Value>
    </governmentContent>
    <governmentTitle>
      <Value><![CDATA[]]></Value>
    </governmentTitle>
  </Properties>
</Content>