<?xml version="1.0" encoding="utf-8"?>
<Content Key="c710d077-ce72-425a-b591-9922e365a2b5" Alias="Ground Maintenance" Level="3">
  <Info>
    <Parent Key="ff0d73d0-3b30-4b08-bcda-26578b327170">Services</Parent>
    <Path>/HomePage/Services/GroundMaintenance</Path>
    <Trashed>false</Trashed>
    <ContentType>commercialLandscaping</ContentType>
    <CreateDate>2023-04-28T17:49:34</CreateDate>
    <NodeName Default="Ground Maintenance" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f216a493-c51c-4fa4-b3b9-b365ece0b00c">CommercialLandscaping</Template>
  </Info>
  <Properties>
    <servicesContent>
      <Value><![CDATA[]]></Value>
    </servicesContent>
    <servicesSubTitle>
      <Value><![CDATA[]]></Value>
    </servicesSubTitle>
  </Properties>
</Content>