<?xml version="1.0" encoding="utf-8"?>
<Content Key="d37699bd-aedd-4520-8796-0c2bfa8463e3" Alias="Ground Maintenance" Level="102">
  <Info>
    <Parent Key="6908661e-250b-44d2-bf92-53fed49a7774">Services1</Parent>
    <Path>/[-20]/Services1/GroundMaintenance</Path>
    <Trashed Parent="6908661e-250b-44d2-bf92-53fed49a7774">true</Trashed>
    <ContentType>commercialLandscaping</ContentType>
    <CreateDate>2023-04-25T18:11:51</CreateDate>
    <NodeName Default="Ground Maintenance" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f216a493-c51c-4fa4-b3b9-b365ece0b00c">CommercialLandscaping</Template>
  </Info>
  <Properties>
    <servicesContent>
      <Value><![CDATA[]]></Value>
    </servicesContent>
    <servicesSubTitle>
      <Value><![CDATA[]]></Value>
    </servicesSubTitle>
  </Properties>
</Content>