<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fb59153-dc93-421e-a235-af6b42d90166" Alias="Health &amp; Care" Level="102">
  <Info>
    <Parent Key="53060391-f1d1-4a24-a741-2f818b4a6081">Sectors (1)</Parent>
    <Path>/[-20]/Sectors1/HealthCare</Path>
    <Trashed Parent="53060391-f1d1-4a24-a741-2f818b4a6081">true</Trashed>
    <ContentType>governmentMOD</ContentType>
    <CreateDate>2023-04-25T18:01:59</CreateDate>
    <NodeName Default="Health &amp; Care" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27a75fb9-e541-4fda-be31-277226ad6a96">GovernmentMOD</Template>
  </Info>
  <Properties>
    <governmentContent>
      <Value><![CDATA[]]></Value>
    </governmentContent>
    <governmentTitle>
      <Value><![CDATA[]]></Value>
    </governmentTitle>
  </Properties>
</Content>