<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2a3e5a1-557f-4414-bd91-60b352dc34d0" Alias="HomePage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>jbl_HomePage</ContentType>
    <CreateDate>2023-04-20T14:07:28</CreateDate>
    <NodeName Default="HomePage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5229720-f923-476e-ab41-41aaf255f1c7">Jbl_HomePage</Template>
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[940/01 Popjak Road, Kent Science Park, Sittingbourne,									Kent ME9 8HL]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[info@jblandscape.co.uk]]></Value>
    </contactEmail>
    <contactNo>
      <Value><![CDATA[1795427060]]></Value>
    </contactNo>
    <contactTitle>
      <Value><![CDATA[Contact]]></Value>
    </contactTitle>
    <copyRight>
      <Value><![CDATA[2022]]></Value>
    </copyRight>
    <currently3OpenRoles>
      <Value><![CDATA[currently 3 Open Roles]]></Value>
    </currently3OpenRoles>
    <footer5Logos>
      <Value><![CDATA[[
  {
    "key": "fcd4d654-15bc-41bc-80fa-be128228516e",
    "mediaKey": "9698fd8a-944c-40ee-a5ee-4efef5935e23"
  },
  {
    "key": "8dbf6915-4be0-43b1-a623-c5f5be3e0e3b",
    "mediaKey": "577bd236-c40f-44f8-92ad-4374150f3102"
  },
  {
    "key": "5b29cbb5-aa23-4209-820d-5ad3c87bbba4",
    "mediaKey": "f4d34511-204f-4cf2-836b-4b4eef616747"
  },
  {
    "key": "a6ab47b7-68dc-4c4d-91d7-1a9c983a3657",
    "mediaKey": "577bd236-c40f-44f8-92ad-4374150f3102"
  },
  {
    "key": "e1c86522-42ce-4e04-9755-e811abaa0fb4",
    "mediaKey": "9698fd8a-944c-40ee-a5ee-4efef5935e23"
  }
]]]></Value>
    </footer5Logos>
    <FooterBody12>
      <Value><![CDATA[gacmhag
khgfekwgwek
gsajsa
sacsa
casc
scsacacsd]]></Value>
    </FooterBody12>
    <homeHeroCTA>
      <Value><![CDATA[Get a quote ]]></Value>
    </homeHeroCTA>
    <homeHeroDescription>
      <Value><![CDATA[Design, installation and maintenance services for private and commercial gardens]]></Value>
    </homeHeroDescription>
    <homeHeroTitle>
      <Value><![CDATA[Grounds maintenance and landscaping specialists]]></Value>
    </homeHeroTitle>
    <ourMissionTogether>
      <Value><![CDATA[Our mission together]]></Value>
    </ourMissionTogether>
    <ourMissionTogetherDiscription>
      <Value><![CDATA[Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.]]></Value>
    </ourMissionTogetherDiscription>
    <pageCotent>
      <Value><![CDATA[]]></Value>
    </pageCotent>
    <subNavbarContactNo>
      <Value><![CDATA[1795427060]]></Value>
    </subNavbarContactNo>
    <subNavbarContactUs>
      <Value><![CDATA[Call us on]]></Value>
    </subNavbarContactUs>
    <subNavbarCTA>
      <Value><![CDATA[Work for JBL]]></Value>
    </subNavbarCTA>
    <SubNavbarTitle>
      <Value><![CDATA[Looking for a new challenge?]]></Value>
    </SubNavbarTitle>
    <webSiteTitle>
      <Value><![CDATA[WebSite]]></Value>
    </webSiteTitle>
    <workingForJBL>
      <Value><![CDATA[Working for JBL  2121]]></Value>
    </workingForJBL>
    <workingForJBLDiscription>
      <Value><![CDATA[Donec nec justo eget felis facilisis fermentum. 
Aliquam porttitor mauris sit amet orci. 
Aenean dignissim pellentesque felis.]]></Value>
    </workingForJBLDiscription>
  </Properties>
</Content>