<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2a3e5a1-557f-4414-bd91-60b352dc34d0" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>jbl_HomePage</ContentType>
    <CreateDate>2023-04-20T14:07:28</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d5229720-f923-476e-ab41-41aaf255f1c7">Jbl_HomePage</Template>
  </Info>
  <Properties>
    <aboutCompanyCaseStudiesCardImage>
      <Value><![CDATA[[
  {
    "key": "c27119cf-fe54-4a00-aef1-180967b6e4e1",
    "mediaKey": "9bb6d312-18fc-4411-b4ed-2706df3a6ece"
  }
]]]></Value>
    </aboutCompanyCaseStudiesCardImage>
    <contactAddress>
      <Value><![CDATA[940/01 Popjak Road, Kent Science Park, Sittingbourne,									Kent ME9 8HL]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[info@jblandscape.co.uk]]></Value>
    </contactEmail>
    <contactNo>
      <Value><![CDATA[1795427060]]></Value>
    </contactNo>
    <contactTitle>
      <Value><![CDATA[Contact]]></Value>
    </contactTitle>
    <copyRight>
      <Value><![CDATA[2022]]></Value>
    </copyRight>
    <cTAButtonLink>
      <Value><![CDATA[]]></Value>
    </cTAButtonLink>
    <currently3OpenRoles>
      <Value><![CDATA[currently 3 Open Roles]]></Value>
    </currently3OpenRoles>
    <footer5Logos>
      <Value><![CDATA[[
  {
    "key": "fcd4d654-15bc-41bc-80fa-be128228516e",
    "mediaKey": "9698fd8a-944c-40ee-a5ee-4efef5935e23"
  },
  {
    "key": "8dbf6915-4be0-43b1-a623-c5f5be3e0e3b",
    "mediaKey": "577bd236-c40f-44f8-92ad-4374150f3102"
  },
  {
    "key": "5b29cbb5-aa23-4209-820d-5ad3c87bbba4",
    "mediaKey": "f4d34511-204f-4cf2-836b-4b4eef616747"
  },
  {
    "key": "a6ab47b7-68dc-4c4d-91d7-1a9c983a3657",
    "mediaKey": "577bd236-c40f-44f8-92ad-4374150f3102"
  },
  {
    "key": "e1c86522-42ce-4e04-9755-e811abaa0fb4",
    "mediaKey": "9698fd8a-944c-40ee-a5ee-4efef5935e23"
  }
]]]></Value>
    </footer5Logos>
    <FooterBody12>
      <Value><![CDATA[gacmhag
khgfekwgwek
gsajsa
sacsa
casc
scsacacsd]]></Value>
    </FooterBody12>
    <footerMainColumnOneCompanyName>
      <Value><![CDATA[JB Landscape & Property Ltd]]></Value>
    </footerMainColumnOneCompanyName>
    <footerMainColumnOneRegistrationDetail>
      <Value><![CDATA[Registered company in England Company No: 						09099197 VAT registration No: 530 5807]]></Value>
    </footerMainColumnOneRegistrationDetail>
    <footerMainColumnOneRights>
      <Value><![CDATA[© Copyright 2023 J.B.Landscape and 						Property Maintenance. All Rights Reserved.]]></Value>
    </footerMainColumnOneRights>
    <homeAboutCompanyCaseStudiesCardCTA>
      <Value><![CDATA[See case studies]]></Value>
    </homeAboutCompanyCaseStudiesCardCTA>
    <homeaboutCompanyCaseStudiesCardHeadline>
      <Value><![CDATA[We have work examples across 8 sectors that we’re proud of]]></Value>
    </homeaboutCompanyCaseStudiesCardHeadline>
    <homeAboutCompanyCaseStudiesCardIconText>
      <Value><![CDATA[Case studies]]></Value>
    </homeAboutCompanyCaseStudiesCardIconText>
    <homeAboutCompanyDetailsCTA>
      <Value><![CDATA[Read More]]></Value>
    </homeAboutCompanyDetailsCTA>
    <homeAboutCompanyDetailsDescription>
      <Value><![CDATA[We have a loyal team of long-standing staff – our manager has been with us for more than 15 years – which enables us to deliver excellence and continuity of service. We value our reputation and use monitoring and training to ensure all our employees carry out work with care and professionalism.]]></Value>
    </homeAboutCompanyDetailsDescription>
    <homeAboutCompanyDetailsTitle>
      <Value><![CDATA[JB Landscape has been in operation since 1987, growing steadily through word-of-mouth recommendation]]></Value>
    </homeAboutCompanyDetailsTitle>
    <homeAboutCompanySectorsCardCTA>
      <Value><![CDATA[See sectors]]></Value>
    </homeAboutCompanySectorsCardCTA>
    <homeAboutCompanySectorsCardHeadline>
      <Value><![CDATA[10 years experience in the sectors we operate in...]]></Value>
    </homeAboutCompanySectorsCardHeadline>
    <homeAboutCompanySectorsCardIconText>
      <Value><![CDATA[Sectors]]></Value>
    </homeAboutCompanySectorsCardIconText>
    <homeAboutCompanySectorsCardImage>
      <Value><![CDATA[[]]]></Value>
    </homeAboutCompanySectorsCardImage>
    <homeHeroCTA>
      <Value><![CDATA[Get a quote ]]></Value>
    </homeHeroCTA>
    <homeHeroDescription>
      <Value><![CDATA[Design, installation and maintenance services for private and commercial gardens]]></Value>
    </homeHeroDescription>
    <homeHeroTitle>
      <Value><![CDATA[Grounds maintenance and landscaping specialists]]></Value>
    </homeHeroTitle>
    <homeOurServicesCardCTA>
      <Value><![CDATA[Read more ]]></Value>
    </homeOurServicesCardCTA>
    <homeOurServicesCardGroupTitle>
      <Value><![CDATA[Our services]]></Value>
    </homeOurServicesCardGroupTitle>
    <homeOurServicesFirstCardImage>
      <Value><![CDATA[[]]]></Value>
    </homeOurServicesFirstCardImage>
    <homeOurServicesFirstCardTitle>
      <Value><![CDATA[Commercial Landscaping]]></Value>
    </homeOurServicesFirstCardTitle>
    <homeOurServicesFourthCardImage>
      <Value><![CDATA[[]]]></Value>
    </homeOurServicesFourthCardImage>
    <homeOurServicesFourthCardTitle>
      <Value><![CDATA[Japanese Knotweed]]></Value>
    </homeOurServicesFourthCardTitle>
    <homeOurServicesSecondCardImage>
      <Value><![CDATA[[]]]></Value>
    </homeOurServicesSecondCardImage>
    <homeOurServicesSecondCardTitle>
      <Value><![CDATA[Arboriculture]]></Value>
    </homeOurServicesSecondCardTitle>
    <homeOurServicesThirdCardImage>
      <Value><![CDATA[[]]]></Value>
    </homeOurServicesThirdCardImage>
    <homeOurServicesThirdCardTitle>
      <Value><![CDATA[Ground Maintenance ]]></Value>
    </homeOurServicesThirdCardTitle>
    <image>
      <Value><![CDATA[[
  {
    "key": "e452e091-4c4b-4346-b55d-c80ec50b9fac",
    "mediaKey": "1547bb4b-f573-46c9-a43b-92e786f35699"
  }
]]]></Value>
    </image>
    <imageCropper>
      <Value><![CDATA[{
  "src": "/media/coflswgw/photo-2023-03-16-00-54-51-1.jpg",
  "focalPoint": {
    "left": 0.1078739093486201,
    "top": 0.12039364417255681
  }
}]]></Value>
    </imageCropper>
    <ourMissionTogether>
      <Value><![CDATA[Our mission together]]></Value>
    </ourMissionTogether>
    <ourMissionTogetherDiscription>
      <Value><![CDATA[Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.]]></Value>
    </ourMissionTogetherDiscription>
    <pageCotent>
      <Value><![CDATA[]]></Value>
    </pageCotent>
    <subNavbarContactNo>
      <Value><![CDATA[1795427060]]></Value>
    </subNavbarContactNo>
    <subNavbarContactUs>
      <Value><![CDATA[Call us on]]></Value>
    </subNavbarContactUs>
    <subNavbarCTA>
      <Value><![CDATA[Work for JBL]]></Value>
    </subNavbarCTA>
    <SubNavbarTitle>
      <Value><![CDATA[Looking for a new challenge?]]></Value>
    </SubNavbarTitle>
    <webSiteTitle>
      <Value><![CDATA[WebSite]]></Value>
    </webSiteTitle>
    <workingForJBL>
      <Value><![CDATA[Working for JBL  2121]]></Value>
    </workingForJBL>
    <workingForJBLDiscription>
      <Value><![CDATA[Donec nec justo eget felis facilisis fermentum. 
Aliquam porttitor mauris sit amet orci. 
Aenean dignissim pellentesque felis.]]></Value>
    </workingForJBLDiscription>
  </Properties>
</Content>