<?xml version="1.0" encoding="utf-8"?>
<Content Key="07c76592-5603-4047-b932-638875911c04" Alias="Hotels &amp; Hospitality" Level="3">
  <Info>
    <Parent Key="7549de24-5aa4-4be1-824a-ed1e19e7f7e9">Sectors</Parent>
    <Path>/HomePage/Sectors/HotelsHospitality</Path>
    <Trashed>false</Trashed>
    <ContentType>governmentMOD</ContentType>
    <CreateDate>2023-04-28T17:38:23</CreateDate>
    <NodeName Default="Hotels &amp; Hospitality" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27a75fb9-e541-4fda-be31-277226ad6a96">GovernmentMOD</Template>
  </Info>
  <Properties>
    <governmentContent>
      <Value><![CDATA[]]></Value>
    </governmentContent>
    <governmentTitle>
      <Value><![CDATA[]]></Value>
    </governmentTitle>
  </Properties>
</Content>