<?xml version="1.0" encoding="utf-8"?>
<Content Key="70d4f06b-00d4-425f-9d97-b7a8a394a412" Alias="Industrial &amp; Logistics" Level="102">
  <Info>
    <Parent Key="53060391-f1d1-4a24-a741-2f818b4a6081">Sectors (1)</Parent>
    <Path>/[-20]/Sectors1/IndustrialLogistics</Path>
    <Trashed Parent="53060391-f1d1-4a24-a741-2f818b4a6081">true</Trashed>
    <ContentType>governmentMOD</ContentType>
    <CreateDate>2023-04-25T18:00:05</CreateDate>
    <NodeName Default="Industrial &amp; Logistics" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27a75fb9-e541-4fda-be31-277226ad6a96">GovernmentMOD</Template>
  </Info>
  <Properties>
    <governmentContent>
      <Value><![CDATA[]]></Value>
    </governmentContent>
    <governmentTitle>
      <Value><![CDATA[]]></Value>
    </governmentTitle>
  </Properties>
</Content>