<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bc5bd2b-6628-4025-b8a6-91c52ee95ac8" Alias="Japanese Knotweed" Level="102">
  <Info>
    <Parent Key="6908661e-250b-44d2-bf92-53fed49a7774">Services1</Parent>
    <Path>/[-20]/Services1/JapaneseKnotweed</Path>
    <Trashed Parent="6908661e-250b-44d2-bf92-53fed49a7774">true</Trashed>
    <ContentType>commercialLandscaping</ContentType>
    <CreateDate>2023-04-25T18:12:10</CreateDate>
    <NodeName Default="Japanese Knotweed" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f216a493-c51c-4fa4-b3b9-b365ece0b00c">CommercialLandscaping</Template>
  </Info>
  <Properties>
    <servicesContent>
      <Value><![CDATA[]]></Value>
    </servicesContent>
    <servicesSubTitle>
      <Value><![CDATA[]]></Value>
    </servicesSubTitle>
  </Properties>
</Content>