<?xml version="1.0" encoding="utf-8"?>
<Content Key="7676e1b5-490b-4e31-b0b7-e03b240751ab" Alias="Join Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JoinUs</Path>
    <Trashed>false</Trashed>
    <ContentType>joinUs</ContentType>
    <CreateDate>2023-04-25T18:25:24</CreateDate>
    <NodeName Default="Join Us" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="784860c9-c123-4eaf-8845-b9133a6ea9a4">JoinUs</Template>
  </Info>
  <Properties>
    <joinUsTitle>
      <Value><![CDATA[]]></Value>
    </joinUsTitle>
  </Properties>
</Content>