<?xml version="1.0" encoding="utf-8"?>
<Content Key="b419710f-d7ea-4400-a420-ae9f6d6ea3e0" Alias="Locations we cover" Level="3">
  <Info>
    <Parent Key="d166d8ae-61d3-4865-8e9b-d8c15ecc4ea2">About Us</Parent>
    <Path>/Jbl_HomePage/AboutUs/LocationsWeCover</Path>
    <Trashed>false</Trashed>
    <ContentType>locationsWeCover</ContentType>
    <CreateDate>2023-04-28T17:28:29</CreateDate>
    <NodeName Default="Locations we cover" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8f5ba024-0965-475e-ad83-c097b974e4e7">LocationsWeCover</Template>
  </Info>
  <Properties>
    <locationsContent>
      <Value><![CDATA[]]></Value>
    </locationsContent>
    <locationsTitle>
      <Value><![CDATA[]]></Value>
    </locationsTitle>
  </Properties>
</Content>