<?xml version="1.0" encoding="utf-8"?>
<Content Key="11c3208b-7fd0-45fc-8fc4-0e4e435f5dd4" Alias="new" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/new</Path>
    <Trashed Parent="c908d6e8-d642-4291-b8a5-19704a415963">true</Trashed>
    <ContentType>featuredProjectCTA</ContentType>
    <CreateDate>2023-05-10T17:23:48</CreateDate>
    <NodeName Default="new" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <firstDescription>
      <Value><![CDATA[]]></Value>
    </firstDescription>
    <firstTitle>
      <Value><![CDATA[]]></Value>
    </firstTitle>
    <secondDescription>
      <Value><![CDATA[]]></Value>
    </secondDescription>
    <secondTitle>
      <Value><![CDATA[]]></Value>
    </secondTitle>
    <singleCardDescription>
      <Value><![CDATA[]]></Value>
    </singleCardDescription>
    <singleCardImage>
      <Value><![CDATA[[]]]></Value>
    </singleCardImage>
    <singleCardTitle>
      <Value><![CDATA[]]></Value>
    </singleCardTitle>
  </Properties>
</Content>