<?xml version="1.0" encoding="utf-8"?>
<Content Key="a77e357b-568a-425c-81c1-30ab0f9d7aad" Alias="News" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/News</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2023-04-25T18:17:22</CreateDate>
    <NodeName Default="News" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ff804939-defa-4f42-8e78-aa0dcff4b0e4">News</Template>
  </Info>
  <Properties>
    <newsTitle>
      <Value><![CDATA[]]></Value>
    </newsTitle>
  </Properties>
</Content>