<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c7ccb58-e1f3-4e41-bf40-20691f2adbb9" Alias="Our Services" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/OurServices</Path>
    <Trashed Parent="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">true</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-04-21T17:33:44</CreateDate>
    <NodeName Default="Our Services" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>