<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6814753-f3f6-4ded-8054-be481402a43d" Alias="Our Services Commun View" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurServicesCommunView</Path>
    <Trashed>false</Trashed>
    <ContentType>ourServicesCommonPartialView</ContentType>
    <CreateDate>2023-05-03T12:00:22</CreateDate>
    <NodeName Default="Our Services Commun View">
      <Name Culture="en-us">Our Services Commun View</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="f1e80249-e4c3-4b98-801c-566826286cc2">OurServicesCommonPartialView</Template>
  </Info>
  <Properties>
    <ourServicesCardCTA>
      <Value><![CDATA[Read more]]></Value>
    </ourServicesCardCTA>
    <ourServicesCardGroupTitle>
      <Value><![CDATA[Our services 1123223]]></Value>
    </ourServicesCardGroupTitle>
    <ourServicesFirstCardImage>
      <Value><![CDATA[[
  {
    "key": "39f5f3c5-5c5b-4686-b114-03ad619a4619",
    "mediaKey": "e6c35f71-7e2c-4a89-a164-42961d3e2d18"
  }
]]]></Value>
    </ourServicesFirstCardImage>
    <ourServicesFirstCardTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesFirstCardTitle>
    <ourServicesFourthCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourServicesFourthCardImage>
    <ourServicesFourthCardTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesFourthCardTitle>
    <ourServicesSecondCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourServicesSecondCardImage>
    <ourServicesSecondCardTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesSecondCardTitle>
    <ourServicesThirdCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourServicesThirdCardImage>
    <ourServicesThirdCardTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesThirdCardTitle>
  </Properties>
</Content>