<?xml version="1.0" encoding="utf-8"?>
<Content Key="e90c48b6-2424-46fd-9f84-eee4768bd45d" Alias="ourservices" Level="2">
  <Info>
    <Parent Key="0c272ee3-971a-4ccd-9874-15db9c29a920">common services</Parent>
    <Path>/commonServices/ourservices</Path>
    <Trashed>false</Trashed>
    <ContentType>ourServicesCommonPartialView</ContentType>
    <CreateDate>2023-05-03T18:53:36</CreateDate>
    <NodeName Default="ourservices">
      <Name Culture="en-us">ourservices</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <ourServicesCardCTA>
      <Value><![CDATA[]]></Value>
    </ourServicesCardCTA>
    <ourServicesCardGroupTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesCardGroupTitle>
    <ourServicesFirstCardImage>
      <Value><![CDATA[[
  {
    "key": "edf7722a-622f-47fa-886e-84508757717e",
    "mediaKey": "8ba7826b-150d-4b3a-b46e-f99a37a08b91"
  }
]]]></Value>
    </ourServicesFirstCardImage>
    <ourServicesFirstCardTitle>
      <Value><![CDATA[Gardening]]></Value>
    </ourServicesFirstCardTitle>
    <ourServicesFourthCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourServicesFourthCardImage>
    <ourServicesFourthCardTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesFourthCardTitle>
    <ourServicesSecondCardImage>
      <Value><![CDATA[[
  {
    "key": "f2f2311f-de04-433b-a523-a967f3408e0a",
    "mediaKey": "c4f527d2-e9bd-4fab-8aa0-9bc64e8ebaa6"
  }
]]]></Value>
    </ourServicesSecondCardImage>
    <ourServicesSecondCardTitle>
      <Value><![CDATA[landscape]]></Value>
    </ourServicesSecondCardTitle>
    <ourServicesThirdCardImage>
      <Value><![CDATA[[]]]></Value>
    </ourServicesThirdCardImage>
    <ourServicesThirdCardTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesThirdCardTitle>
  </Properties>
</Content>