<?xml version="1.0" encoding="utf-8"?>
<Content Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab" Alias="Product List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProductList</Path>
    <Trashed>false</Trashed>
    <ContentType>productsList</ContentType>
    <CreateDate>2023-04-21T11:45:19</CreateDate>
    <NodeName Default="Product List" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productList>
      <Value><![CDATA[]]></Value>
    </productList>
  </Properties>
</Content>