<?xml version="1.0" encoding="utf-8"?>
<Content Key="93df3982-36f4-4a7d-b3b6-555d3e5c33d0" Alias="Retail &amp; Shopping Centers" Level="3">
  <Info>
    <Parent Key="53060391-f1d1-4a24-a741-2f818b4a6081">Sectors</Parent>
    <Path>/Jbl_HomePage/Sectors/RetailShoppingCenters</Path>
    <Trashed>false</Trashed>
    <ContentType>governmentMOD</ContentType>
    <CreateDate>2023-04-25T17:58:01</CreateDate>
    <NodeName Default="Retail &amp; Shopping Centers" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27a75fb9-e541-4fda-be31-277226ad6a96">GovernmentMOD</Template>
  </Info>
  <Properties>
    <governmentContent>
      <Value><![CDATA[]]></Value>
    </governmentContent>
    <governmentTitle>
      <Value><![CDATA[]]></Value>
    </governmentTitle>
  </Properties>
</Content>