<?xml version="1.0" encoding="utf-8"?>
<Content Key="52ab8431-5fcf-4e30-8409-7289138e4d20" Alias="Retail &amp; Shopping Centers" Level="3">
  <Info>
    <Parent Key="7549de24-5aa4-4be1-824a-ed1e19e7f7e9">Sectors (1)</Parent>
    <Path>/Jbl_HomePage/Sectors1/RetailShoppingCenters</Path>
    <Trashed>false</Trashed>
    <ContentType>governmentMOD</ContentType>
    <CreateDate>2023-04-28T17:37:32</CreateDate>
    <NodeName Default="Retail &amp; Shopping Centers" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="27a75fb9-e541-4fda-be31-277226ad6a96">GovernmentMOD</Template>
  </Info>
  <Properties>
    <governmentContent>
      <Value><![CDATA[]]></Value>
    </governmentContent>
    <governmentTitle>
      <Value><![CDATA[]]></Value>
    </governmentTitle>
  </Properties>
</Content>