<?xml version="1.0" encoding="utf-8"?>
<Content Key="40de1a1f-74af-4e7f-a65b-9ded0b9c7337" Alias="Sectors" Level="3">
  <Info>
    <Parent Key="7549de24-5aa4-4be1-824a-ed1e19e7f7e9">Sectors</Parent>
    <Path>/Jbl_HomePage/Sectors/Sectors</Path>
    <Trashed>false</Trashed>
    <ContentType>sectors</ContentType>
    <CreateDate>2023-04-28T17:36:55</CreateDate>
    <NodeName Default="Sectors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="719b2105-b24f-4cec-8897-fb234aa67c64">Sectors</Template>
  </Info>
  <Properties>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroImage>
      <Value><![CDATA[[]]]></Value>
    </heroImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <sectorTitle>
      <Value><![CDATA[]]></Value>
    </sectorTitle>
  </Properties>
</Content>