<?xml version="1.0" encoding="utf-8"?>
<Content Key="53060391-f1d1-4a24-a741-2f818b4a6081" Alias="Sectors (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Sectors1</Path>
    <Trashed Parent="c2a3e5a1-557f-4414-bd91-60b352dc34d0">true</Trashed>
    <ContentType>sectors</ContentType>
    <CreateDate>2023-04-20T14:11:01</CreateDate>
    <NodeName Default="Sectors (1)" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="719b2105-b24f-4cec-8897-fb234aa67c64">Sectors</Template>
  </Info>
  <Properties>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <sectorTitle>
      <Value><![CDATA[]]></Value>
    </sectorTitle>
  </Properties>
</Content>