<?xml version="1.0" encoding="utf-8"?>
<Content Key="7549de24-5aa4-4be1-824a-ed1e19e7f7e9" Alias="Sectors" Level="2">
  <Info>
    <Parent Key="c2a3e5a1-557f-4414-bd91-60b352dc34d0">Home Page</Parent>
    <Path>/HomePage/Sectors</Path>
    <Trashed>false</Trashed>
    <ContentType>sectorsHomeChild</ContentType>
    <CreateDate>2023-04-28T17:36:11</CreateDate>
    <NodeName Default="Sectors" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>