<?xml version="1.0" encoding="utf-8"?>
<Content Key="2234d5e5-2072-4ace-8dda-bb49a0ae74c9" Alias="Sectors" Level="102">
  <Info>
    <Parent Key="53060391-f1d1-4a24-a741-2f818b4a6081">Sectors (1)</Parent>
    <Path>/[-20]/Sectors1/Sectors</Path>
    <Trashed Parent="53060391-f1d1-4a24-a741-2f818b4a6081">true</Trashed>
    <ContentType>sectors</ContentType>
    <CreateDate>2023-04-25T12:19:03</CreateDate>
    <NodeName Default="Sectors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="719b2105-b24f-4cec-8897-fb234aa67c64">Sectors</Template>
  </Info>
  <Properties>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroImage>
      <Value><![CDATA[]]></Value>
    </heroImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <sectorTitle>
      <Value><![CDATA[]]></Value>
    </sectorTitle>
  </Properties>
</Content>