<?xml version="1.0" encoding="utf-8"?>
<Content Key="0112f504-a664-4429-929a-ed06a94ee454" Alias="Sectors" Level="2">
  <Info>
    <Parent Key="0caf96b6-8fca-4825-b6a7-ba80bd6489ab">Product List</Parent>
    <Path>/ProductList/Sectors</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-04-21T12:04:09</CreateDate>
    <NodeName Default="Sectors" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e028db2-aa47-4854-a118-94e8f8528b93">Products</Template>
  </Info>
  <Properties>
    <productContentDiscription>
      <Value><![CDATA[[
  {
    "name": "Sectors",
    "udi": "umb://document/53060391f1d14a24a7412f818b4a6081"
  }
]]]></Value>
    </productContentDiscription>
    <productContentTitle>
      <Value><![CDATA[10 years experience in the sectors we operate in...]]></Value>
    </productContentTitle>
    <prouctContentImage>
      <Value><![CDATA[[
  {
    "key": "82196c83-3e90-420f-aee4-da6fbc24eafd",
    "mediaKey": "01967739-f562-4c80-8669-9ec6d47da1ed"
  }
]]]></Value>
    </prouctContentImage>
  </Properties>
</Content>