<?xml version="1.0" encoding="utf-8"?>
<Content Key="2958a084-79a1-412d-8be9-48ea958fb5d1" Alias="Service Feature List" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceFeatureList</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceFeatureList</ContentType>
    <CreateDate>2023-05-11T16:22:15</CreateDate>
    <NodeName Default="Service Feature List" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d6f11099-dc76-4c6b-91fa-778efec27a3a">ServiceFeatureList</Template>
  </Info>
  <Properties />
</Content>