<?xml version="1.0" encoding="utf-8"?>
<Content Key="6908661e-250b-44d2-bf92-53fed49a7774" Alias="Services1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Services1</Path>
    <Trashed Parent="c2a3e5a1-557f-4414-bd91-60b352dc34d0">true</Trashed>
    <ContentType>jbl_Servises</ContentType>
    <CreateDate>2023-04-20T14:11:34</CreateDate>
    <NodeName Default="Services1" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b3ffc57a-c562-4eb6-88fb-cac8374814c2">Jbl_Servises</Template>
  </Info>
  <Properties>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroImage>
      <Value><![CDATA[[]]]></Value>
    </heroImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <sectionTitle>
      <Value><![CDATA[Govt]]></Value>
    </sectionTitle>
  </Properties>
</Content>