<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff0d73d0-3b30-4b08-bcda-26578b327170" Alias="Services" Level="2">
  <Info>
    <Parent Key="c2a3e5a1-557f-4414-bd91-60b352dc34d0">Home Page</Parent>
    <Path>/HomePage/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servisesHomeChild</ContentType>
    <CreateDate>2023-04-28T17:47:16</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>