<?xml version="1.0" encoding="utf-8"?>
<Content Key="be89d3c9-fdda-4684-b650-f38e0a277a61" Alias="Services" Level="3">
  <Info>
    <Parent Key="ff0d73d0-3b30-4b08-bcda-26578b327170">Services</Parent>
    <Path>/HomePage/Services/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>jbl_Servises</ContentType>
    <CreateDate>2023-04-28T17:48:47</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b3ffc57a-c562-4eb6-88fb-cac8374814c2">Services</Template>
  </Info>
  <Properties>
    <heroDescription>
      <Value><![CDATA[]]></Value>
    </heroDescription>
    <heroImage>
      <Value><![CDATA[[]]]></Value>
    </heroImage>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <sectionTitle>
      <Value><![CDATA[]]></Value>
    </sectionTitle>
  </Properties>
</Content>