<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3a381ef-0bf3-4734-95e8-6e5619665041" Alias="SF 1" Level="2">
  <Info>
    <Parent Key="2958a084-79a1-412d-8be9-48ea958fb5d1">Service Feature List</Parent>
    <Path>/ServiceFeatureList/SF1</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceFeature</ContentType>
    <CreateDate>2023-05-11T16:23:05</CreateDate>
    <NodeName Default="SF 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceFeaturesCardDescription>
      <Value><![CDATA[Description]]></Value>
    </serviceFeaturesCardDescription>
    <serviceFeaturesCardIcon>
      <Value><![CDATA[[]]]></Value>
    </serviceFeaturesCardIcon>
    <serviceFeaturesCardTitle>
      <Value><![CDATA[Title]]></Value>
    </serviceFeaturesCardTitle>
  </Properties>
</Content>