<?xml version="1.0" encoding="utf-8"?>
<Content Key="e180e8b8-e56b-418b-b806-08ada29730cc" Alias="SF 2" Level="2">
  <Info>
    <Parent Key="2958a084-79a1-412d-8be9-48ea958fb5d1">Service Feature List</Parent>
    <Path>/ServiceFeatureList/SF2</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceFeature</ContentType>
    <CreateDate>2023-05-11T16:23:30</CreateDate>
    <NodeName Default="SF 2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceFeaturesCardDescription>
      <Value><![CDATA[Description]]></Value>
    </serviceFeaturesCardDescription>
    <serviceFeaturesCardIcon>
      <Value><![CDATA[[]]]></Value>
    </serviceFeaturesCardIcon>
    <serviceFeaturesCardTitle>
      <Value><![CDATA[Title 2]]></Value>
    </serviceFeaturesCardTitle>
  </Properties>
</Content>