<?xml version="1.0" encoding="utf-8"?>
<Content Key="8750380a-1ac2-4acb-8ac3-28b53f49390d" Alias="SF 3" Level="2">
  <Info>
    <Parent Key="2958a084-79a1-412d-8be9-48ea958fb5d1">Service Feature List</Parent>
    <Path>/ServiceFeatureList/SF3</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceFeature</ContentType>
    <CreateDate>2023-05-11T16:34:02</CreateDate>
    <NodeName Default="SF 3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceFeaturesCardDescription>
      <Value><![CDATA[Description 3]]></Value>
    </serviceFeaturesCardDescription>
    <serviceFeaturesCardIcon>
      <Value><![CDATA[[]]]></Value>
    </serviceFeaturesCardIcon>
    <serviceFeaturesCardTitle>
      <Value><![CDATA[Title 3]]></Value>
    </serviceFeaturesCardTitle>
  </Properties>
</Content>