<?xml version="1.0" encoding="utf-8"?>
<Content Key="7296e2cc-f06e-499e-b8b9-478090c959be" Alias="SF 4" Level="2">
  <Info>
    <Parent Key="2958a084-79a1-412d-8be9-48ea958fb5d1">Service Feature List</Parent>
    <Path>/ServiceFeatureList/SF4</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceFeature</ContentType>
    <CreateDate>2023-05-11T16:34:35</CreateDate>
    <NodeName Default="SF 4" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <serviceFeaturesCardDescription>
      <Value><![CDATA[Description]]></Value>
    </serviceFeaturesCardDescription>
    <serviceFeaturesCardIcon>
      <Value><![CDATA[[]]]></Value>
    </serviceFeaturesCardIcon>
    <serviceFeaturesCardTitle>
      <Value><![CDATA[Title 4]]></Value>
    </serviceFeaturesCardTitle>
  </Properties>
</Content>