<?xml version="1.0" encoding="utf-8"?>
<Content Key="5efcef85-53a7-432e-b5fb-f85dcb68ed44" Alias="Sustainability" Level="3">
  <Info>
    <Parent Key="02552c30-578b-4750-b16b-937b6e6dd7a2">About_Us</Parent>
    <Path>/Jbl_HomePage/About_Us/Sustainability</Path>
    <Trashed>false</Trashed>
    <ContentType>sustainability</ContentType>
    <CreateDate>2023-04-25T11:50:58</CreateDate>
    <NodeName Default="Sustainability" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ba955fe6-347c-4611-9533-dcc96a6a9e11">Sustainability</Template>
  </Info>
  <Properties>
    <sustainabilityContent>
      <Value><![CDATA[]]></Value>
    </sustainabilityContent>
    <sustainabilityTitle>
      <Value><![CDATA[]]></Value>
    </sustainabilityTitle>
  </Properties>
</Content>