<?xml version="1.0" encoding="utf-8"?>
<Content Key="b28702de-3204-4ff2-9af4-b2540416bd75" Alias="Sustainability" Level="3">
  <Info>
    <Parent Key="d166d8ae-61d3-4865-8e9b-d8c15ecc4ea2">About Us</Parent>
    <Path>/HomePage/AboutUs/Sustainability</Path>
    <Trashed>false</Trashed>
    <ContentType>sustainability</ContentType>
    <CreateDate>2023-04-28T17:27:29</CreateDate>
    <NodeName Default="Sustainability" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ba955fe6-347c-4611-9533-dcc96a6a9e11">Sustainability</Template>
  </Info>
  <Properties>
    <sustainabilityContent>
      <Value><![CDATA[]]></Value>
    </sustainabilityContent>
    <sustainabilityTitle>
      <Value><![CDATA[]]></Value>
    </sustainabilityTitle>
  </Properties>
</Content>